body {
	font-family: Arial, sans-serif;
}

h2 {
	margin-bottom: 15px;
	text-decoration: none;
	color: #CC9104;
	padding-bottom: 5px;
	border-bottom: 1px dotted #ccc;
}

#container_scheda,
p {
	font-size: 13px;
	line-height: 140%;
	color: #37454A;
	text-align: justify;
}

#container_scheda {
	padding-bottom: 30px;
}

#wrapper {
    position:relative;
    z-index:1;
    width: auto;
    height:600px;
    overflow:auto;
	padding-right: 20px;
}

#map_canvas {
	width: 840px;
	height: 530px;
}

.left {
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}

