<?php foreach($this->blocks as $block): ?>
<section class="widget medium">
    <div class="widget_container">
        <h5 class="title"><?php echo $block['title'] ?></h5>
        <div class="block left" id="<?php echo $block['id'] ?>">
        </div><!--block -->
        <div class="clearer"></div>

    </div><!--widget_container-->
</section><!--widget-->
<? endforeach ?>
    