<section class="filtro_ricerca">

    <form action="<?php echo $this->formSearch->getAction() ?>" method="<?php echo $this->formSearch->getMethod() ?>" id="frmSearch">

        <?php echo $this->formSearch->status ?>
        
        <div class="formBlock large">
            <?php echo $this->formSearch->free ?>
        </div>
        <?php echo $this->formSearch->lang ?>
        
        <?php echo $this->formSearch->type ?>
        <?php echo $this->formSearch->ipp ?>
        <?php echo $this->formSearch->pag ?>
        
        <div class="formBlock">
        	<label>&nbsp;</label>
            <input type="submit" value="<?php echo $this->translate("Cerca") ?>" class="btn btn-default" />
        </div>
        <div class="clearer"></div>
    </form>
</section>
