	<?php $pageLabels = $this->dto->pages; ?>
	<div class="column">
		<h5 class="title">Elementi Disponibili</h5>
			<ul id="sortable_all" class="droptrue sortable"> 
			<?php
				foreach( $this->dto->availables as $key => $available)
					echo $this->partial('block/users/administrator/shared/parts/item.phtml', array("labels" => $pageLabels, "item" => $available));
				
			?>
			</ul>
	</div>
	
	
	<?php 
	foreach( $this->dto->getPositions() as $key => $label)
		echo $this->partial('block/users/administrator/shared/parts/available.phtml', array("labels" => $pageLabels, "key" => $key, "label" => $label, "assigned" => $this->dto->itemsInPos($key)));
	?>
	
	
	<form action="<?php echo $this->form->getAction() ?>" method="<?php echo $this->form->getMethod() ?>" id="<?php echo $this->form->getAttrib("id")?>">
		<?php 
			echo $this->form->page; 
			foreach ($this->form->getSubForms() as $subForm) 
				echo $subForm;
		?>
	</form>
	<section class="common_actions">
		<ul>
	    	<li>
		    	<a class="btn btn-success zoom fancybox.iframe" onclick="window.main_page.saveSharedBlocks(<?php echo $this->id ?>);">
		    		<span class="icon_font">&#xf055;</span><?php echo $this->translate("Salva Pagina")?>
		    	</a>
	    	</li>
	    </ul>
    </section>
