<section class="widget" id="block_<? echo $this->blockId ?>" >
	<section class="widget_header">
		<h4><?php echo $this->blockTitle ?></h4>
		<ul class="widget_tools">
			<li><a class="widget_collapse"><span class="icon_font">&#xf107;</span></a>
		</ul>
		<div class="clearer"></div>
	</section>

	<section class="widget_body collapsible">
	    <form class="form ajaxblocksubmit" action="<?php echo $this->form->getAction() ?>" method="<?php echo $this->form->getMethod() ?>" id="<?php echo $this->form->getId() ?>">
	        <fieldset>
	        	<?php echo $this->form->contents  ?>
	        		<div class="clearer"></div>
	        	
	        	<?php foreach($this->form->getElements() as $element): ?>
	        		<?php echo $element ?>
	        		<div class="clearer"></div>
	        	<?php endforeach; ?>
	        	
	        	<div class="clearer"></div>
	            <input type="submit" class="btn btn-success" value="<?php echo $this->translate("Save") ?>">
	            <?php if(!$this->cannotDelete): ?>
	            <input type="button" class="btn btn-default" value="<?php echo $this->translate("Delete") ?>" onclick="window.main_page.dropBlock(<?php echo $this->id ?>)">
	            <?php endif;?>
	        </fieldset>
	
	    </form>
	</section><!--dettaglio_certificato-->
</section><!-- widget -->