	<?php $pageLabels = $this->dto->pages; ?>

<div id="sortabletabs">

	<ul>
		<li><a href="#sortabletabs-1">Elementi Disponibili</a></li>
			<?php
			$count = 2;
			foreach ( $this->dto->getPositions () as $key => $label )
				echo sprintf ( '<li><a href="#sortabletabs-%d">%s</a></li>', $count ++, $label );
			?>
			
		</ul>
		<div id="sortabletabs-1">

			<div class="column availables">
				<ul id="sortable_all" class="connectedSortable ui-helper-reset sortable sortableList"> 
					<?php
					foreach ( $this->dto->availables as $key => $available )
						echo $this->partial ( 'block/users/administrator/shared/parts/item.phtml', array (
								"labels" => $pageLabels,
								"item" => $available 
						) );
					
					?>
				</ul>
			</div>
		</div><!-- sortabletabs-1 -->
	
	<?php
	$count = 2;
	foreach ( $this->dto->getPositions () as $key => $label ) :
		echo sprintf ( '<div id="sortabletabs-%d">', $count ++ );
		echo $this->partial ( 'block/users/administrator/shared/parts/available.phtml', array (
				"labels" => $pageLabels,
				"key" => $key,
				"label" => $label,
				"assigned" => $this->dto->itemsInPos ( $key ) 
		) );
		echo '</div>';
	endforeach
	;
	?>
	
	
	<form action="<?php echo $this->form->getAction() ?>"
		method="<?php echo $this->form->getMethod() ?>"
		id="<?php echo $this->form->getAttrib("id")?>">
		<?php
		echo $this->form->page;
		foreach ( $this->form->getSubForms () as $subForm )
			echo $subForm;
		?>
	</form>
	<section class="common_actions">
		<ul>
			<li><a class="btn btn-success zoom fancybox.iframe"
				onclick="window.main_page.saveSharedBlocks(<?php echo $this->id ?>);">
					<span class="icon_font">&#xf055;</span><?php echo $this->translate("Salva Pagina")?>
		    	</a></li>
		</ul>
	</section>
	
<script>
	$(function() {
		$( ".sortableList" ).sortable().disableSelection();
		var $tabs = $( "#sortabletabs" ).tabs();
		var $tab_items = $( "ul:first li", $tabs ).droppable({
			accept: ".connectedSortable li",
			hoverClass: "ui-state-hover",
			drop: function( event, ui ) 
			{
				var $item = $( this );
				var $list = $( $item.find( "a" ).attr( "href" ) ).find( ".connectedSortable" );
				ui.draggable.hide( "slow", function() {
					//$tabs.tabs( "option", "active", $tab_items.index( $item ) );
					$( this ).appendTo( $list ).show( "slow" );
				});
			}
		});
    });
</script>