<div class="column">
	<ul id="sortable_<?php echo $this->key ?>" class="connectedSortable ui-helper-reset sortableList target sortable" rel="<?php echo $this->key ?>">
		<?php 
		foreach($this->assigned as $block)
			echo $this->partial('block/users/administrator/shared/parts/item.phtml', array("labels" => $this->labels, "item" => $block));
		?>
	</ul>
</div>