<div class="column">
	<h5 class="title"><?php echo $this->label ?></h5>
	<ul id="sortable_<?php echo $this->key ?>" class="dropfalse sortable" rel="<?php echo $this->key ?>">
		<?php 
		foreach($this->assigned as $block)
			echo $this->partial('block/users/administrator/shared/parts/item.phtml', array("labels" => $this->labels, "item" => $block));
		?>
	</ul>
</div>