<li class="ui-state-highlight" rel="<?php echo $this->item->getId() ?>">
<div class="smallItemBox">
	<label class="pageTitle"><?php echo $this->labels[$this->item->getPage()]?></label>
	<ul>
	<?php 
		$html = '';
		foreach($this->item->getContents() as $key => $value)
		{
			if($key == 'file') continue;
			$html .= sprintf("<li><strong>%s</strong>%s</li>",$key, $this->nicesubstring($value, 200));
		}
		echo $html;	
	?>
	
	</ul>
</div>
</li>