/* CSS FRAMEWORK
versione 3.0 by Nic - http://www.enneb.com/

-------------------------------------------------------------
-------------------------------------------------------------
	background-image: url(../img/xxx.png);
	_background-image: url(../common/img/transparent.gif);
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="common/img/xxx.png", sizingMethod="crop");
	background-repeat: no-repeat;
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
article, aside, figure, footer, header,
hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

pre {
padding: 15px;
white-space: pre; /* CSS2 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-word; /* IE */
}
/* align checkboxes, radios, text inputs with their label */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; width: auto !important; }
.ie6 input { vertical-align: text-bottom; }
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

:focus {
outline: 0;
}
/* bicubic resizing for non-native sized IMG:*/
.ie7 img { -ms-interpolation-mode: bicubic; }
.clearer {
     visibility: hidden;
     display: block;
     font-size: 0;
     clear: both;
     height: 0;
     }

/* Heading kerning pairs and ligatures */
h1, h2, h3 { text-rendering: optimizeLegibility; }

/* END RESET CSS */

#infocontent {
	width: 100px;
	height: 100px;
	position: absolute;
	top: -900px;
	left: -900px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-size: 10px;
}

#infocontent ul li {
	list-style-type: none;
}

#infocontent h3 a,
#infocontent ul li a {
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

/* -------- STILI PROGETTO ------- */



::selection {
        background: #6389C2;
	color: #fff;
}
::-moz-selection {
        background: #6389C2;
	color: #fff;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=4.0.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=4.0.1') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Light-webfont.woff') format('woff'),
         url('../font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/OpenSans-Regular-webfont.eot');
    src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/OpenSans-Semibold-webfont.eot');
    src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../font/OpenSans-Bold-webfont.eot');
    src: url('../font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Bold-webfont.woff') format('woff'),
         url('../font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon_font,
.icon_font a,
.table td .icon_font a {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-family: FontAwesome;
}

.table td .icon_font.green {
	color: #16a085;
}

.table td .icon_font.red {
	color: #f72a22;
}

.table td .icon_font.orange {
	color: #e67e22;
}

.table td .icon_font a {
	font-size: 12px;
}

.table td .icon_font {
	font-size: 13px;
}

html,
body {
	width: 100%;
}

body {
	-webkit-text-size-adjust: 100%; 
   font-weight: 400;
	word-wrap: break-word;
	font-family: Arial;
}

body#login {
	background: url(../img/denim.png) repeat 0 0;
}

/* ----- LOGIN -------- */

#login #container {
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;
}

#login #login_pane {
	width: 420px;
	padding: 35px 20px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	border: 1px solid #474848;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.65);
	box-shadow: 0 3px 6px rgba(0,0,0,.65);
	
	background: #e5e5e5; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 20%, #e5e5e5 80%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffffff), color-stop(80%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 20%,#e5e5e5 80%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 20%,#e5e5e5 80%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 20%,#e5e5e5 80%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 20%,#e5e5e5 80%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

#login .form.login {
	margin-bottom: 15px;
	background: transparent;
		-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255,.9);
			box-shadow: 0 1px 0 0 rgba(255, 255, 255,.9);
			border-bottom: 1px solid #dadada;
}

#login #login_pane h2 {
	color: #386696;
	text-decoration: none;
	padding-bottom: 10px;
	margin-bottom: 30px;
	
	background: transparent;
	-webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.9);
	box-shadow: 0 1px 0 0 rgba(255,255,255,.9);
		border-bottom: 1px solid #dadada;
	font: normal normal 18px open_sanslight;
}

#login #login_pane h2 strong {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-family: open_sanssemibold;
}

#login .form .formBlock {
	margin-bottom: 5px;
}

#login .form .formBlock.check {
	margin-bottom: 30px;
}

#login .form .formBlock.check input {
	float: left;
	width: 13px;
	height: 13px;
	margin: 0 5px 0 0;
	background-image: none;
	padding: 0;
}

#login .form .formBlock.check small {
	color: #666;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	float: left;
	display: inline;
	margin: 2px 0 0;
	width: 275px;
}


#login .form .formBlock small {
	color: #999;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	line-height: 115%;
	margin-top: -12px;
	margin-bottom: 15px;
	display: block;
	margin-left: 2px;
}

#login .form .formBlock small.info {
	margin-top: -10px;
	margin-bottom: 20px;
	float: left;
	display: block;
}

#login .form .formBlock label {
	color: #386696;
	text-decoration: none;
	display: block;
	margin-bottom: 2px;
	font: normal 13px open_sansregular;
}

#login .form .formBlock input {
	padding: 6px 7px;
	color: #666;
	margin-bottom: 15px;
	border-style: none;
	width: 100%;
   	box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    
	background-color: #fff;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font: normal 12px open_sansregular;
}

#login .form .formBlock input:focus {
	color: #386696;
	border: 1px solid #a1c6ed;
	background-color: #fff;
}

#login .form .formBlock input.submit_btn {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: block;
	float: left;
	padding: 5px 15px 4px;
	width: 110px;
	border: 1px solid #5486b3;
	
	background: #529ad0;
	background: -moz-linear-gradient(50% 0% 0deg, #3c6587 0%, #529ad0 100%);
	background: -ms-linear-gradient(0deg, #3c6587 0%, #529ad0 100%);
	background: -o-linear-gradient(0deg, #3c6587 0%, #529ad0 100%);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #3c6587), color-stop(1, #529ad0));
	background: -webkit-linear-gradient(90deg, #3c6587 0%, #529ad0 100%);
	background: linear-gradient(0deg, #3c6587 0%, #529ad0 100%);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.35);
	box-shadow: 0 1px 3px rgba(0,0,0,.35);
	font: normal 11px open_sanssemibold;
}

#login .form .formBlock input.submit_btn:hover {
	cursor: pointer;
	background: #2db200;
	background: -moz-linear-gradient(51% -7% 0deg, #060 0%, #2db200 100%);
	background: -ms-linear-gradient(0deg, #060 0%, #2db200 100%);
	background: -o-linear-gradient(0deg, #060 0%, #2db200 100%);
	background: -webkit-gradient(linear, 51% -7%, 51% 107%, color-stop(0, #060), color-stop(1, #2db200));
	background: -webkit-linear-gradient(90deg, #060 0%, #2db200 100%);
	background: linear-gradient(0deg, #060 0%, #2db200 100%);
	border: 1px solid #e1e3e4;
}

#login .form .formBlock label.error {
	color: #f90000;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding: 0;
	margin-top: -10px;
	margin-right: 0;
	margin-bottom: 20px;
}

/* EXPLORER BEHAVIOR */


.ie7 .form .formBlock.check input {
	width: 13px;
}

.ie7 .form .formBlock input {
	width: 275px;
}

.ie7 .form .formBlock input.submit_btn,
.ie8 .form .formBlock input.submit_btn {
	width: 110px;
}

#login_pane ul {
	float: right;
}

#login_pane ul li {
	list-style-type: none;
}

#login_pane ul li a {
	text-decoration: none;
	color: #666;
	font: normal 11px open_sansregular;
}

#login_pane ul li a:hover {
	color: #386696;
}

header {
	height: 50px;
	width: 100%;
	background-color: rgba(236,240,241,0.9);
	border-bottom: 1px solid #bdc3c7;
	position: fixed;
	top: 0;
	left: 200px;
	z-index: 100;
	padding-left: 21px;
}

#main_menu {
	background-color: #222;
	width: 199px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	border-right: 1px solid #333;
}

#main_content {
	height: 100%;
	background-color: #fff;
	margin-top: 50px;
	margin-left: 200px;
	padding: 20px;
}

#page_title,
.filtro_ricerca {
	border-bottom: 1px solid #ecf0f1;
	margin-bottom: 20px;
}

#page_title h2 {
	color: #343843;
	text-decoration: none;
	float: left;
	padding-bottom: 5px;
	font: normal 20px open_sanslight;
}

h5.error_msg,
.nocontent {
	color: #f72a22;
	text-decoration: none;
	font: normal normal 12px Arial;
	padding: 10px;
	border: 1px solid #f72a22;
	margin-bottom: 5px;
}

#notifications-bar {
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 6px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 6px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 12px rgba(50, 50, 50, 0.75);
	width: 100%;
	height: 20px;
	padding: 20px 30px 18px;
	color: #444;
	font: bold 12px Arial;
	position: fixed;
	top: -70px;
	left: 0;
	z-index: 1000;
}

#notifications-bar h2 {
	font-weight: normal;
	font-style: normal;
	display: block;
	color: #1886b5;
}

/* -------- WIDGET ------- */

.popup .widget {
	margin-bottom: 0;
}

.popup .widget_header h4 {
	text-transform: uppercase;
}

.widget {
    background-color: #FFFFFF;
    border: 1px solid #bdc3c7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.widget_header,
.widget_footer {
	background: #ecf0f1 none repeat scroll 0 0;
    padding: 10px 15px;
}

.widget_header {
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	border-bottom: 1px solid #bdc3c7;
	margin-bottom: 10px;
}

.widget_tools {
	float: right;
}

.widget_tools li {
	float: left;
	margin-left: 5px;
	display: inline;
	list-style-type: none;
}

.widget_tools li a {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	color: #000;
	display: block;
}

.widget_tools li a:hover {
	color: #999;
}

.widget_tools li a.widget_collapse {
	transition: transform 0.4s;
}

.widget_tools li a.widget_collapse:hover {
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.widget_body {
	background-color: #fff;
	padding: 15px;
}

.widget_body .table {
	margin-bottom: 0;
}

.widget_body ul {
	margin-bottom: 20px;
}

.widget_body ul li {
	font: 12px/140% Arial;
	color: #000;
}

.widget_body ul li a {
	color: #00b4f9;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.widget_body ul li a:hover {
	text-decoration: underline;
}

.widget_footer {
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #bdc3c7;
	padding-bottom: 5px;
}

.widget_footer .pagination {
	margin-bottom: 0;
}

.widget_header h4 {
	text-decoration: none;
	color: #343843;
	font-style: normal;
	font-size: 14px;
	font-variant: normal;
	float: left;
}

.pagination {
    display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

.pagination ul {
	float: left;
}

.pagination ul li {
	display: inline;
}

.pagination > ul > li:first-child > a {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}

.pagination ul li a {
    background-color: #FFFFFF;
    float: left;
    position: relative;
    text-decoration: none;
	color: #999;
	padding: 5px 10px;
	line-height: 90%;
	font-size: 11px;
}

.pagination ul li a.current,
.pagination ul li a:hover {
	color: #fff;
	background-color: #95a5a6;
}

.pagination .pagination_elements {
	float: right;
}

.pagination .pagination_elements .formBlock {
	float: left;
	margin-left: 20px;
}

.pagination .pagination_elements .formBlock label {
	color: #666;
	line-height: 90%;
	font-size: 12px;
}

.pagination .pagination_elements .formBlock select {
	
}

/* -------- LINGUE --------- */

ul.language_flag {
	
}

ul.language_flag li {
	width: 16px;
	height: 11px;
	display: block;
	list-style-type: none;
	float: left;
	margin-right: 5px;
}

ul.language_flag li a {
	display: block;
	width: 16px;
	height: 11px;
	text-indent: -900em;
	background: url(../img/language_flags.png) no-repeat 0 -19px;
}

ul.language_flag li a.active,
ul.language_flag li a:hover {
	background-position: 0;
}

ul.language_flag li a.it {
	background-position: 0 -19px;
}

ul.language_flag li a.en {
	background-position: -26px -19px;
}

ul.language_flag li a.fr {
	background-position: -52px -19px;
}

ul.language_flag li a.de {
	background-position: -78px -19px;
}

ul.language_flag li a.es {
	background-position: -104px -19px;
}

ul.language_flag li a.ru {
	background-position: -130px -19px;
}

ul.language_flag li a.cn {
	background-position: -156px -19px;
}



ul.language_flag li a.it.active,
ul.language_flag li a.it:hover {
	background-position: 0 0;
}

ul.language_flag li a.en.active,
ul.language_flag li a.en:hover {
	background-position: -26px 0;
}

ul.language_flag li a.fr.active,
ul.language_flag li a.fr:hover {
	background-position: -52px 0;
}

ul.language_flag li a.de.active,
ul.language_flag li a.de:hover {
	background-position: -78px 0;
}

ul.language_flag li a.es.active,
ul.language_flag li a.es:hover {
	background-position: -104px 0;
}

ul.language_flag li a.ru.active,
ul.language_flag li a.ru:hover {
	background-position: -130px 0;
}

ul.language_flag li a.cn.active,
ul.language_flag li a.cn:hover {
	background-position: -156px 0;
}

/* -------- HEADER ------- */

header #scelta_lingua {
	position: absolute;
	top: 18px;
	width: 240px;
	right: 400px;
}

header #scelta_lingua h5 {
	text-decoration: none;
	font: bold 13px Arial;
	color: #000;
	display: block;
	float: left;
	margin-right: 5px;
}

header #scelta_lingua ul.language_flag {
	margin-top: 2px;
}

#logged_user {
	border-left: 1px solid #CBD1D4;
	width: 150px;
	display: inline;
	float: right;
	position: absolute;
	height: 30px;
	top: 10px;
	right: 240px;
}

#logged_user h5 {
	text-decoration: none;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	left: 10px;
	top: 2px;
}

#logged_user h6 {
	text-transform: uppercase;
	text-decoration: none;
	color: #999;
	font-style: normal;
	font-size: 9px;
	font-variant: normal;
	position: absolute;
	left: 10px;
	top: 18px;
}

#logged_user a#logout_btn {
	display: block;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #999;
	font-size: 17px;
	position: absolute;
	right: 0;
	top: 8px;
}

#logged_user a#logout_btn:hover {
	color: #666;
}

/* -------- MENU ------- */

#main_menu h1 {
	background-color: #000;
	width: 185px;
	color: #00b4f9;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 15px;
	height: 35px;
	padding-left: 15px;
	font: normal 16px open_sanslight;
	border-bottom: 1px solid #333;
}

#main_menu h1 .icon_font {
	font-size: 19px;
	margin-right: 10px;
	font-weight: normal;
	font-style: normal;
}

#main_menu ul {
	margin-top: 20px;
}

#main_menu ul li {
	list-style-type: none;
	position: relative;
}

#main_menu ul li a {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: #d1d9e4;
	padding-left: 15px;
	padding-bottom: 12px;
	padding-top: 12px;
	box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
	
    transition: background 0.3s ease 0s, box-shadow 0.3s ease 0s;
	font: normal bold 11px Arial;
	border-bottom: 1px solid #333;
}

#main_menu ul li a:hover,
#main_menu ul li a.current,
#main_menu ul li.current a {
	color: #fff;
	background-color: #00b4f9;
    box-shadow: 0 -1px transparent inset;
}

#main_menu ul li .icon_font {
	font-size: 14px;
	display: inline;
	margin-right: 8px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	float: left;
	margin-top: -2px;
}

#main_menu ul li .icon_font.arrow {
	float: right;
	transition: transform 0.4s;
}

#main_menu ul li.current .icon_font.arrow {
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#main_menu ul li a .counter {
	background-color: #00b4f9;
	text-decoration: none;
	color: #fff;
	text-align: center;
	display: block;
	position: absolute;
	top: 10px;
	width: 21px;
	height: 21px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	right: 8px;
	line-height: 220%;
	font-size: 10px;
	font-variant: normal;
	font-weight: bold;
}


#main_menu ul ul {
  display: none;
	margin-top: 0;
	margin-bottom: 20px;
}

#main_menu ul ul li {
	
}

#main_menu ul ul li a {
	text-transform: none;
	font: normal normal 12px Arial;
	padding: 7px 0 7px 35px;
}

#main_menu ul ul li:last-child {
  border-bottom: none;
}

#main_menu ul li.current ul li a {
	background-color: #2d2d2d;
	color: #ccc;
	border-bottom: 1px dotted #424343;
}

#main_menu ul li.current ul li a:hover {
	color: #fff;
	background-color: #3b434e;
}

/* -------- PULSANTI ------- */

.btn {
    background-clip: border-box;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none;
    cursor: default;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    padding: 5px 12px;
	text-decoration: none;
}

.btn .icon_font {
	margin-right: 5px;
}
.btn:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.btn:active, .btn.active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.btn-default {
    background-color: #F3F3F3;
    background-repeat: repeat-x;
    border: 1px solid #DCDCDC;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
}

.btn-default:hover {
    border-color: #C6C6C6;
    text-shadow: none;
    transition: none 0s ease 0s;
	background: #e9ebeb no-repeat;
}


.btn-success {
    background-image: linear-gradient(to bottom, #35AA47 0px, #35AA47 100%);
    background-repeat: repeat-x;
    border: 1px solid #359947;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.btn-success:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #2F973F;
    background-image: linear-gradient(to bottom, #35AA47 0px, #2F973F 100%);
    background-repeat: repeat-x;
    border: 1px solid #2E863E;
    color: #FFFFFF;
}

.btn-danger {
    background-image: linear-gradient(to bottom, #DD4B39 0px, #D14836 100%);
    background-repeat: repeat-x;
    border: 1px solid #C6322A;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.btn-danger:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #C13E2C;
    background-image: linear-gradient(to bottom, #DD4B39 0px, #C13E2C 100%);
    background-repeat: repeat-x;
    border: 1px solid #B12D26;
    color: #FFFFFF;
}
.btn-warning {
    background-image: linear-gradient(to bottom, #FBB450 0px, #FAA937 100%);
    background-repeat: repeat-x;
    border: 1px solid #FAA328;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.btn-warning:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-color: #F99E1E;
    background-image: linear-gradient(to bottom, #FBB450 0px, #F99E1E 100%);
    background-repeat: repeat-x;
    border: 1px solid #F9980F;
    color: #FFFFFF;
}

.btn-primary {
    background-image: linear-gradient(to bottom, #4D90FE 0px, #4787ED 100%);
    background-repeat: repeat-x;
    border: 1px solid #3079ED;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.btn-primary:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.btn-info {
    background-image: linear-gradient(to bottom, #5BC0DE 0px, #5BC0DE 100%);
    background-repeat: repeat-x;
    border: 1px solid #46B8DA;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.btn-info:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #46B8DA;
    background-image: linear-gradient(to bottom, #5BC0DE 0px, #46B8DA 100%);
    background-repeat: repeat-x;
    border: 1px solid #31B0D5;
    color: #FFFFFF;
}


.common_actions ul li a.delete_btn {
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
}

.common_actions ul li a.delete_btn:hover {
	background-color: #c0392b;
	border: 1px solid #e74c3c;
}

.common_actions ul li a.edit_btn {
	background-color: #5d6e7f;
	border: 1px solid #5d6e7f;
}

.common_actions ul li a.edit_btn:hover {
	background-color: #2c3e50;
	border: 1px solid #5d6e7f;
}

.delete_icon a:hover,
a.delete_icon:hover .icon_font {
	color: #f72a22;
}

.edit_icon a:hover,
a.edit_icon:hover .icon_font,
.select a:hover,
a.select:hover .icon_font,
.select a.current,
a.select.current .icon_font  {
	color: #00b4f9;
}

/* -------- GALLERY --------- */

.button_toolbar {
	margin-bottom: 20px;
	padding-top: 20px;
	border-top: 1px dotted #ccc;
	margin-top: 0;
}

.gallery {
	
}

.gallery .button_toolbar {
	padding: 20px 0 0;
	margin: 0;
}

.gallery .picture {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

.gallery .picture a.preview {
	width: 120px;
	height: 80px;
	background-color: #ccc;
	display: block;
	margin-bottom: 5px;
}

.gallery .picture h5 {
	color: #666;
	text-decoration: none;
	font: bold 11px Arial;
	margin-bottom: 2px;
}

.gallery .picture h6 {
	margin-bottom: 5px;
	border-bottom: 1px solid #efefef;
	padding-bottom: 3px;
	padding-top: 5px;
	border-top: 1px solid #efefef;
	color: #666;
	text-decoration: none;
	font: normal 10px Arial;
}

.gallery .picture ul.actions {
	margin: 0;
	padding: 0;
}

.gallery .picture ul.actions li {
	float: left;
	margin-right: 10px;
	list-style-type: none;
}

.gallery .picture ul.actions li a {
	color: #999;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: block;
}

.widget_body .gallery,
.widget_body .allegati {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 5px solid #efefef;
}

.widget_body .form .gallery,
.widget_body .form .allegati {
	margin-left: 0;
}

.gallery .picture.file {
	float: none;
	margin-bottom: 5px;
	border-bottom: 1px solid #efefef;
	padding-bottom: 3px;
	padding-top: 5px;
	width: 100%;
}

.gallery .picture.file.ultimo {
	border-bottom: none;
}

.gallery .picture.file h5 {
	margin-bottom: 0;
	display: inline;
	margin-right: 10px;
}

.gallery .picture.file h6 {
	margin-bottom: 0;
	color: #666;
	text-decoration: none;
	font: normal 10px Arial;
	padding: 0;
	border-top-style: none;
	border-bottom-style: none;
	display: inline;
}

.gallery .picture.file ul {
	float: right;
}

.widget_body .crop_area {
	margin-bottom: 30px;
}

.widget_body .crop_area .inline-labels {
	margin-top: 10px;
}

.widget_body .crop_area .inline-labels label {
	color: #000;
	text-decoration: none;
	font: normal normal 12px Arial;
}

.widget_body .crop_area .inline-labels input {
	color: #000;
	font: 12px Arial;
	padding: 3px;
	border: 1px solid #ccc;
	margin-right: 10px;
}

/* -------- NOTIFICHE ------- */

#notification_center {
	margin-bottom: 20px;
}

.notification {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #d2e4f1;
	padding: 9px 8px 8px;
	margin-bottom: 5px;
	transition: transform 0.4s;
}

.notification .icon {
	font-size: 13px;
	color: #6c767f;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	line-height: 100%;
	display: block;
	float: left;
}

.notification h6 {
	color: #6c767f;
	text-decoration: none;
	float: left;
	width: 94%;
	display: block;
	margin-left: 10px;
	text-align: justify;
	font: normal 12px/130% Arial;
}

.notification a.close {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	line-height: 100%;
	color: #6c767f;
	display: block;
	float: right;
}

/* ------- TAXONOMY -------- */

ul.taxonomy-list {
	margin-left: 0;
}

ul.taxonomy-list li {
	list-style-type: none;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

ul.taxonomy-list li label {
	
}

ul.taxonomy-list li input {
	
}

/* -------- COLUMN SORTABLE --------- */
	.column {
	width: 29%;
	float: left;
	padding: 20px 5px 5px;
	margin-right: 15px;
	border: 1px solid #bdc3c7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ecf0f1;
}

.column h5.title {
	margin-bottom: 15px;
	color: #343843;
	font: normal 12px/100% Arial;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #afb2b3;
}

.column ul.sortable {
	
}

.column ul.sortable li {
	margin-bottom: 5px;
	padding: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	list-style-type: none;
}

.column ul.sortable li .smallItemBox {
	padding: 10px;
}

.column ul.sortable li .smallItemBox label.pageTitle {
	color: #343843;
	margin-bottom: 10px;
	text-transform: uppercase;
	background-color: #ecf0f1;
	padding: 4px;
	display: block;
	font: bold 12px/120% Arial;
	text-decoration: none;
}

.column ul.sortable li .smallItemBox label.pageTitle:hover {
	cursor: move;
}

.column ul.sortable li .smallItemBox ul {
	
}

.column ul.sortable li .smallItemBox ul li {
	font: 11px/120% Arial;
	color: #999;
	list-style-type: none;
}

.column ul.sortable li .smallItemBox ul li strong {
	display: block;
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
}

.column.availables {
	width: 99%;
}

.column.availables ul.sortable li {
	width: 15%;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 180px;
	overflow: auto;
}

.column.availables ul.sortable li ul li {
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
}

/* -------- TABELLA ------- */

.table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
    border-spacing: 0;
	color: #666;
	font-size: 12px;
	margin-bottom: 20px;
}

.table tbody {
    overflow-x: hidden;
    overflow-y: auto;
}

.table td, .table th {
    padding: 8px 15px;
	vertical-align: middle;
	border-right: 1px dotted #95a5a6;
}

.table td:last-child, .table th:last-child {
	border-right-style: none;
}

.table td {
	font-size: 11px;
}

.table td a {
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
	color: #666;
}

.table td a:hover {
	color: #5da7bd;
}

.table tbody > tr:nth-child(2n+1):hover > td,
.table tbody > tr:nth-child(1n+1):hover > td {
	background-color: #f0f6fa;
}

.table tbody > tr:nth-child(2n+1) > td, .table tbody > tr:nth-child(2n+1) > th {
    background-color: #f8f9fb;
}

.table th {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #bdc3c7;
}

.table th,
.table th a {
	color: #666;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.table th a:hover {
	color: #5da7bd;
}

.table td .delete_icon a:hover {
	color: #f72a22;
}

.table thead tr a.sort {
    background: transparent url("../img/table_sort.png") no-repeat scroll right 3px;
    display: inline-block;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-top: 2px;
	width: 98%;
}

.table thead tr a.sort:hover {
	background: transparent url("../img/table_sort_over.png") no-repeat scroll right 3px;
}

.table td a.certificato strong {
	text-decoration: underline;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 2px;
}

.table td a.certificato small {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-size: 11px;
}

/* -------- FORM ------- */

.form {
	
}

.form fieldset {
	border-bottom: 1px dotted #b8b9b9;
	padding-top: 15px;
	margin-bottom: 15px;
}

.form fieldset:first-child {
	padding-top: 0;
}

.form fieldset:last-child {
	border-bottom-style: none;
}

.widget_body .form fieldset:first-child {
	padding-top: 15px;
}

.form .formBlock,
.filtro_ricerca .formBlock {
	float: left;
	width: auto;
	margin-right: 20px;
	margin-bottom: 15px;
}

.form .formBlock.large {
	width: 100%;
	margin-right: 0;
}

.form .formBlock.nascosto {
	display: none;
}

.form .formBlock p.label {
	color: #333;
	text-decoration: none;
	margin-top: 30px;
	font-style: normal;
	font-size: 12px;
	font-variant: normal;
}

.form .formBlock label,
.filtro_ricerca .formBlock label {
	color: #24282f;
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
	font-style: normal;
	font-size: 12px;
	font-weight: bold;
}

.form .formBlock input,
.form .formBlock select,
.form .formBlock textarea,
.filtro_ricerca .formBlock input,
.filtro_ricerca .formBlock select {
	color: #555;
	border: 1px solid #ccc;
	padding: 4px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 98%;
	font-size: 13px;
}

.form .formBlock input {
	width: 96%;
}

.form .formBlock select,
.filtro_ricerca .formBlock select {
	width: auto;
	max-width: 100%;
	padding: 3px;
}

.form .formBlock textarea {
	line-height: 140%;
	font-size: 12px;
}

.form .formBlock input:focus,
.form .formBlock textarea:focus,
.filtro_ricerca .formBlock input:focus {
	color: #2980b9;
	border: 1px solid #2980b9;
}

.form .formBlock select.small {
	float: left;
}

.form .formBlock select.small.numero {
	margin-right: 10px;
}

.form.reading .formBlock {
	margin-bottom: 40px;
}

.form.reading h6 {
	color: #999;
	text-decoration: none;
	font-style: normal;
	font-size: 12px;
	font-variant: normal;
}

.filtro_ricerca {
	padding-bottom: 10px;
}

.filtro_ricerca .formBlock {
	width: auto;
	margin-right: 15px;
}

.filtro_ricerca .formBlock.large {
}

.filtro_ricerca .formBlock label {
}

.filtro_ricerca .formBlock input.hasDatepicker {
	width: 110px;
	background: url(../img/form_icons.png) no-repeat 5px 5px;
	padding-left: 22px;
}

.filtro_ricerca .formBlock input.hasDatepicker:focus {
	width: 110px;
	background: url(../img/form_icons.png) no-repeat 5px -28px;
}

.filtro_ricerca .formBlock.large input {
	width: 200px;
}

.filtro_ricerca .formBlock input.ricerca {
	background: url(../img/form_icons.png) no-repeat 5px -60px;
	padding-left: 22px;
}

.filtro_ricerca .formBlock input.ricerca:focus {
	background: url(../img/form_icons.png) no-repeat 5px -92px;
}

/* -------- ALLEGATI ------- */

h4.title {
	color: #343843;
    text-decoration: none;
	margin-bottom: 10px;
	font-size: 15px;
}

.allegati ul li {
	list-style-type: none;
	border-bottom: 1px dotted #999;
	color: #666;
	text-decoration: none;
	padding: 7px 5px;
	font-style: normal;
	font-size: 12px;
	font-variant: normal;
}

.allegati ul li:hover {
	background-color: #f1f4f8;
}

.allegati ul li .icon {
	margin-right: 5px;
	font-size: 13px;
}

.allegati ul li .delete_icon {
	float: right;
}

.allegati ul li .delete_icon a {
	text-decoration: none;
	color: #666;
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
}

.allegati ul li .delete_icon a:hover {
	color: #f72a22;
}

.allegati ul li a.download {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: #666;
	float: right;
	margin-right: 15px;
	display: inline;
	margin-top: 3px;
}

.allegati ul li a.download .icon_font {
	margin-left: 6px;
	margin-top: -2px;
	float: right;
	font-size: 13px;
}

.allegati ul li a.download:hover {
	color: #2980b9;
}

/* ------- COMMON ACTIONS ------- */

.common_actions {
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 25px;
}

.common_actions ul {
	
}

.common_actions ul li {
	list-style-type: none;
	float: left;
	margin-right: 10px;
	border-bottom: none;
	padding: 0;
}

.common_actions ul li a {
	
}

.common_actions ul li a.add_btn,
.common_actions ul li a.delete_btn,
.common_actions ul li a.edit_btn {
	line-height: 160%;
	padding-top: 4px;
}

.common_actions ul li a.add_btn .icon_font,
.common_actions ul li a.delete_btn .icon_font,
.common_actions ul li a.edit_btn .icon_font {
	margin-right: 5px;
}

fieldset .common_actions ul li a.add_btn,
fieldset .common_actions ul li a.delete_btn,
fieldset .common_actions ul li a.edit_btn {
	padding-top: 2px;
	height: 21px;
}

fieldset .common_actions {
	margin-top: 10px;
}

.swMain > ul {
	display: table;
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
	position: relative;
	width: 100%;
}
.swMain > ul li {
	display: table-cell;
	text-align: center;
	width: 1%;
}
.swMain > ul li > a:before {
	border-top: 4px solid #CED1D6;
	content: "";
	display: block;
	font-size: 0;
	height: 1px;
	overflow: hidden;
	position: relative;
	top: 21px;
	width: 100%;
	z-index: 1;
}
.swMain > ul li:first-child > a:before {
	left: 50%;
	max-width: 51%;
}
.swMain > ul li:last-child > a:before {
	max-width: 50%;
	width: 50%;
}
.swMain > ul li > a.selected:before, .swMain li > a.done:before {
	border-color: #5293C4;
}
.swMain > ul .stepNumber {
	background-color: #FFFFFF;
	border: 5px solid #CED1D6;
	border-radius: 100% 100% 100% 100%;
	color: #546474;
	display: inline-block;
	font-size: 15px;
	height: 40px;
	line-height: 30px;
	position: relative;
	text-align: center;
	width: 40px;
	z-index: 2;
}
.swMain > ul li > a.selected .stepNumber {
	border-color: #5293C4;
}
.swMain ul li > a.done .stepNumber {
	border-color: #5293C4;
	background-color: #5293C4;
	color: #fff;
	text-indent: -9999px;
}
.swMain ul li > a.done .stepNumber:before {
	content: "\f00c";
	display: inline;
	float: right;
	font-family: FontAwesome;
	font-weight: 300;
	height: auto;
	text-shadow: none;
	margin-right: 7px;
	text-indent: 0;
}
.swMain > ul li .stepDesc {
	color: #949EA7;
	display: block;
	font-size: 14px;
	margin-top: 4px;
	max-width: 100%;
	table-layout: fixed;
	text-align: center;
	word-wrap: break-word;
	z-index: 104;
}
.swMain > ul li > a.selected .stepDesc, .swMain li > a.done .stepDesc {
	color: #2B3D53;
}
.swMain > ul li > a:hover {
	text-decoration: none;
}
.swMain > ul li > a.disabled {
	cursor: default;
}
.swMain .progress {
	margin-bottom: 30px;
}
.swMain .stepContainer {
	height: auto !important;
}
.swMain .loader {
	display: none;
}
.swMain [class^="button"], .swMain [class*=" button"] {
	display: none;
}
.swMain .close {
	display: none;
}

@media print {
* { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }    .ir a:after { content: ""; }  /* Don't show links for images */    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }    img { page-break-inside: avoid; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina */
    
}

/* -------- EXTRA ------- */

/*! jQuery UI - v1.10.3 - 2013-06-28
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Helvetica%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=3&bgColorHeader=%23dddddd&bgTextureHeader=highlight_soft&bgImgOpacityHeader=50&borderColorHeader=%23dddddd&fcHeader=%23444444&iconColorHeader=%231886b5&bgColorContent=%23ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=%23dddddd&fcContent=%23444444&iconColorContent=%23ff7a16&bgColorDefault=%23f6f6f6&bgTextureDefault=highlight_soft&bgImgOpacityDefault=100&borderColorDefault=%23dddddd&fcDefault=%231886b5&iconColorDefault=%23666666&bgColorHover=%231886b5&bgTextureHover=highlight_soft&bgImgOpacityHover=25&borderColorHover=%231886b5&fcHover=%23ffffff&iconColorHover=%23ffffff&bgColorActive=%23ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=%23dddddd&fcActive=%23ff7a16&iconColorActive=%23454545&bgColorHighlight=%23ffffff&bgTextureHighlight=flat&bgImgOpacityHighlight=55&borderColorHighlight=%23cccccc&fcHighlight=%23444444&iconColorHighlight=%231886b5&bgColorError=%23ffffff&bgTextureError=flat&bgImgOpacityError=55&borderColorError=%23ff7a16&fcError=%23222222&iconColorError=%23ff7a16&bgColorOverlay=%23eeeeee&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=80&bgColorShadow=%23aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=60&thicknessShadow=4px&offsetTopShadow=-4px&offsetLeftShadow=-4px&cornerRadiusShadow=0px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-resizable{position:relative}.ui-resizable-handle{position:absolute;font-size:.1px;display:block}.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}.ui-selectable-helper{position:absolute;z-index:100;border:1px dotted #000}.ui-accordion .ui-accordion-header{display:block;cursor:pointer;position:relative;margin-top:2px;padding:.5em .5em .5em .7em;min-height:0}.ui-accordion .ui-accordion-icons{padding-left:2.2em}.ui-accordion .ui-accordion-noicons{padding-left:.7em}.ui-accordion .ui-accordion-icons .ui-accordion-icons{padding-left:2.2em}.ui-accordion .ui-accordion-header .ui-accordion-header-icon{position:absolute;left:.5em;top:50%;margin-top:-8px}.ui-accordion .ui-accordion-content{padding:1em 2.2em;border-top:0;overflow:auto}.ui-autocomplete{position:absolute;top:0;left:0;cursor:default}.ui-button{display:inline-block;position:relative;padding:0;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;overflow:visible}.ui-button,.ui-button:link,.ui-button:visited,.ui-button:hover,.ui-button:active{text-decoration:none}.ui-button-icon-only{width:2.2em}button.ui-button-icon-only{width:2.4em}.ui-button-icons-only{width:3.4em}button.ui-button-icons-only{width:3.7em}.ui-button .ui-button-text{display:block;line-height:normal}.ui-button-text-only .ui-button-text{padding:.4em 1em}.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px}.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em}.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em}.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em}input.ui-button{padding:.4em 1em}.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary{left:.5em}.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em}.ui-buttonset{margin-right:7px}.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em}input.ui-button::-moz-focus-inner,button.ui-button::-moz-focus-inner{border:0;padding:0}.ui-datepicker{width:17em;display:none;
	background-color: #fff;
	border: 1px solid #ccc;
	font: 0.8em Arial;
	padding: 10px;
}.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0;
}.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;}.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-prev-hover{left:1px}.ui-datepicker .ui-datepicker-next-hover{right:1px}.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;}.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center}.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}.ui-datepicker select.ui-datepicker-month-year{width:100%}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em}.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:700;border:0}.ui-datepicker td{border:0;padding:1px}.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em;width:auto;overflow:visible}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%;font-size:0}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-dialog{position:absolute;top:0;left:0;padding:.2em;outline:0}.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative}.ui-dialog .ui-dialog-title{float:left;margin:.1em 0;white-space:nowrap;width:90%;overflow:hidden;text-overflow:ellipsis}.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:21px;margin:-10px 0 0 0;padding:1px;height:20px}.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:0;overflow:auto}.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0;background-image:none;margin-top:.5em;padding:.3em 1em .5em .4em}.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right}.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer}.ui-dialog .ui-resizable-se{width:12px;height:12px;right:-5px;bottom:-5px;background-position:16px 16px}.ui-draggable .ui-dialog-titlebar{cursor:move}.ui-menu{list-style:none;padding:2px;margin:0;display:block;outline:0}.ui-menu .ui-menu{margin-top:-3px;position:absolute}.ui-menu .ui-menu-item{margin:0;padding:0;width:100%;list-style-image:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)}.ui-menu .ui-menu-divider{margin:5px -2px 5px -2px;height:0;font-size:0;line-height:0;border-width:1px 0 0}.ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:2px .4em;line-height:1.5;min-height:0;font-weight:400}.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-active{font-weight:400;margin:-1px}.ui-menu .ui-state-disabled{font-weight:400;margin:.4em 0 .2em;line-height:1.5}.ui-menu .ui-state-disabled a{cursor:default}.ui-menu-icons{position:relative}.ui-menu-icons .ui-menu-item a{position:relative;padding-left:2em}.ui-menu .ui-menu-icon{position:static;float:right}.ui-progressbar{height:2em;text-align:left;overflow:hidden}.ui-progressbar .ui-progressbar-value{margin:-1px;height:100%}.ui-progressbar .ui-progressbar-overlay{background:url(images/animated-overlay.gif);height:100%;filter:alpha(opacity=25);opacity:.25}.ui-progressbar-indeterminate .ui-progressbar-value{background-image:none}.ui-slider{position:relative;text-align:left}.ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default}.ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0}.ui-slider.ui-state-disabled .ui-slider-handle,.ui-slider.ui-state-disabled .ui-slider-range{filter:inherit}.ui-slider-horizontal{height:.8em}.ui-slider-horizontal .ui-slider-handle{top:-.3em;margin-left:-.6em}.ui-slider-horizontal .ui-slider-range{top:0;height:100%}.ui-slider-horizontal .ui-slider-range-min{left:0}.ui-slider-horizontal .ui-slider-range-max{right:0}.ui-slider-vertical{width:.8em;height:100px}.ui-slider-vertical .ui-slider-handle{left:-.3em;margin-left:0;margin-bottom:-.6em}.ui-slider-vertical .ui-slider-range{left:0;width:100%}.ui-slider-vertical .ui-slider-range-min{bottom:0}.ui-slider-vertical .ui-slider-range-max{top:0}.ui-spinner{position:relative;display:inline-block;overflow:hidden;padding:0;vertical-align:middle}.ui-spinner-input{border:0;background:0;color:inherit;padding:0;margin:.2em 0;vertical-align:middle;margin-left:.4em;margin-right:22px}.ui-spinner-button{width:16px;height:50%;font-size:.5em;padding:0;margin:0;text-align:center;position:absolute;cursor:default;display:block;overflow:hidden;right:0}.ui-spinner a.ui-spinner-button{border-top:0;border-bottom:0;border-right:0}.ui-spinner-up{top:0}.ui-spinner-down{bottom:0}.ui-tabs{position:relative;
	padding: 0;
}.ui-tabs .ui-tabs-nav{margin: 0 0 20px;
	border-bottom: 1px solid #ccc;
}.ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;white-space:nowrap;
	padding: 14px 25px 12px;
	border: none;
	border-top: 2px solid #fff;
	top: 1px;
	border-bottom-style: none;
	-moz-border-radius-topleft: 4px;
-webkit-border-top-left-radius: 4px;
 border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
border-top-right-radius: 4px;
	
}.ui-tabs .ui-tabs-nav li a{text-decoration:none;
	float: left;
	color: #333;
	font: bold 13px Arial;
}

.ui-tabs .ui-tabs-nav li a:hover {
	color: #2980b9;
}.ui-tabs .ui-tabs-nav li.ui-tabs-active{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	padding-bottom: 12px;
	border-top: 2px solid #2980b9;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a:hover {
	color: #333;
}.ui-tabs .ui-tabs-nav li.ui-tabs-active a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-tabs-loading a{cursor:text}.ui-tabs .ui-tabs-nav li a,.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a{cursor:pointer;
}.ui-tabs .ui-tabs-panel{display:block;background:0;
}

.ui-tabs .ui-tabs-nav li.ui-state-default {
	background-color: #fff;
}

.ui-tooltip{padding: 6px 10px;position:absolute;z-index: 100000;max-width:300px;
	font: normal 11px Arial, sans-serif;
	color: #1886b5;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	display: block;
}body .ui-tooltip{
	font-size: 11px;
	color: #1886b5;
}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{}.ui-widget-content{color:#444;
}.ui-widget-content a{}.ui-widget-header{color:#444;font-weight:bold;
}.ui-widget-header a{color:#444}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #ddd;font-weight:bold;color: #3a5a7a;
	background-color: #eef0f0;
}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color: #3a5a7a;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #1886b5;background: #3f78f9 0;font-weight:bold;color:#fff}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited{color:#fff;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #ddd;background: #fff 0;font-weight:bold;color: #343843}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color: #343843;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #ccc;color:#444;
	background-color: #fff;
}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#444}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #ff7a16;color:#222;
	background-color: #fff;
}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#222}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#222}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:3}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:3}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:3}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:3}.ui-widget-overlay{opacity:.8;filter:Alpha(Opacity=80);
	background-color: #eee;
}.ui-widget-shadow{margin:-4px 0 0 -4px;padding:4px;opacity:.6;filter:Alpha(Opacity=60);border-radius:0;
	background-color: #aaa;
}

/* ------------------------ */

/*! fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #fff;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(../img/fancybox_sprite.png);
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../img/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../img/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: auto;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../img/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}
