<section class="widget">
	<section class="widget_body">
		<?php $related = $this->form->getElement("related"); ?>
		
			<form class="<?php echo $this->form->getAttrib("class") ?>" action="<?php echo $this->form->getAction() ?>" method="<?php echo $this->form->getMethod() ?>" id="<?php echo $this->form->getAttrib("id") ?>">
				<fieldset>
				<?php if($related->getMultiOptions()): ?>
				        
					<?php foreach($this->form->getElements() as $element): ?>
						<?php echo $element ?>
						<div class="clearer"></div>
					<?php endforeach; ?>
					<div class="clearer"></div>
					<input type="submit" class="btn btn-success" value="<?php echo $this->translate("Save") ?>">
				
				<?php else: ?>
					<p class="nocontent"><?php echo $this->translate("No element to relate")?></p>
				<?php endif; ?>
				</fieldset>	
			</form>
		
	</section>
</section>