<?php
if ($this->paginator):
    $pagination = $this->pagination($this->paginationController);   //telling who's in charge to control pagination
    ?>
    <section class="pagination">
        <?php if ($this->paginator->hasPages): ?>
            <ul id="pagine">
                <?php echo $pagination->previous() ?>
                <?php echo $pagination->pageList() ?>
                <?php echo $pagination->next() ?>
            </ul>
        <?php endif; ?>
        <form class="pagination_elements" action="<?php echo $pagination->pageUrl() ?>" id="<?php echo $this->paginationController ?>" method="post">
            <div class="formBlock">
                <label><?php echo $this->translate("Elementi per pagina") ?>:</label>
                <?php echo $pagination->ipp(); ?>
            </div><!--formBlock-->

            <div class="formBlock">
                <label><?php echo $this->translate("Vai a pagina") ?>:</label>
                <?php echo $pagination->pageSelect(); ?>
            </div><!--formBlock-->
            <input type="hidden" name="pag" value="<?php echo $this->paginator->curPage ?>"/>
            <input type="hidden" name="ipp" value="<?php echo $this->paginator->itemsPerPage ?>"/>
        </form>
    </section><!-- paginazione -->
<?php endif; ?>