<?php if($this->form): ?>
<section id="dettaglio_certificato">
    <form class="<?php echo $this->form->getAttrib("class") ?>" action="<?php echo $this->form->getAction() ?>" method="<?php echo $this->form->getMethod() ?>">
        <fieldset>

            <?php echo $this->form->template ?>
            <?php echo $this->form->pageid ?>
            <div class="clearer"></div>

            <input type="submit" class="submit_btn" value="<?php echo $this->translate("Proceed") ?>">
        </fieldset>

    </form>
</section><!--dettaglio_certificato-->
<?php endif; ?>