<section id="page_title">
    <h2><?php echo sprintf("%s &#8250; %s", $this->translate($this->label), $this->mainPage->label)  ?></h2>
    <div class="clearer"></div>
</section><!--page_title-->

<?php 
	$firsttab_start = '';
	$firsttab_end = '';
	$tabcontainer_start = '';
	$tabcontainer_end = '';
	
	if($this->tabs): 
		$tabcontainer_start = '<section id="tabs">';
		$tabcontainer_end = '</section><!--tabs-->';
		$firsttab_start = '<div id="ui-tabs-1">';
		$firsttab_end = '</div><!-- tab1-->';
	endif;
?>
		<?php if($this->tabs): ?>
			<?php echo $tabcontainer_start; ?>
			  <ul>
			    <li><a href="#ui-tabs-1"><?php echo $this->translate("Contenuto")?></a></li>
			    <?php 
			    	foreach($this->tabs as $tab)
			    		echo sprintf('<li><a href="%s">%s</a></li>', $tab['href'] , $tab['label']);
			    	//added all tabs 
			    ?>
			  </ul>
		<?php endif; ?>
		<?php if($this->tabs): ?>
			<?php echo $firsttab_start; //if have tab, i output the start element ?> 
		<?php endif; ?>
        <section class="widgets" id="sortables">
			<section class="widget not_sortable">
				<section class="widget_body">
					<form class="<?php echo $this->form->getAttrib("class") ?>" action="<?php echo $this->form->getAction() ?>" method="<?php echo $this->form->getMethod() ?>" id="<?php echo $this->form->getAttrib("id") ?>">
						<fieldset>
				            <?php echo $this->form->label ?>
				            <?php echo $this->form->lang ?>
				            <?php echo $this->form->template ?>
				            <?php echo $this->form->status ?>          
				            <?php echo $this->form->id ?> 
				            <?php echo $this->form->order ?> 
				            <div class="clearer"></div>
				
				            <input type="submit" class="btn btn-default" value="<?php echo $this->translate("Aggiorna") ?>">
				        </fieldset>
				
				     </form>
				</section><!-- widget_body -->
			</section><!--widget-->
			<?php if($this->blocks): ?>
				<?php foreach($this->blocks as $blockId => $block): ?>
					<?php echo $this->partial('block/users/administrator/edit.phtml', $block) ?>
				<?php endforeach;?>
			<?php endif; ?>
        </section>
			<div class="clearer"></div>
	<?php if($this->tabs): ?>
		<?php echo $firsttab_end;  //if i have the tab, i output the first closure tab.. :) ?>
		<?php echo $tabcontainer_end; ?>
	<?php endif; ?>
	
	<section class="common_actions">
		<ul>
	    	<li>
		    	<a class="btn btn-success" href="#" onclick="window.main_page.selectTemplate(<?php echo $this->mainPage->id ?>);">
		    		<span class="icon_font">&#xf055;</span><?php echo $this->translate("Aggiungi nuovo blocco")?>
		    	</a>
	    	</li>
	    	<li>
		    	<a class="btn btn-danger" href="#" onclick="window.main_page.drop();">
		    		<span class="icon_font">&#xf056;</span><?php echo $this->translate("Rimuovi Pagina")?>
		    	</a>
	    	</li>
	    </ul>
    </section>
<script type="text/javascript">
    /*$(document).ready(function()
    {
        $('#sortables').sortable(
                {
                    update: function( event, ui )
                    {
                        var sorted = new Array();
                        $(".id").each(function()
                                        {
                                            sorted.push($(this).val());
                                        });
                        $.post("pages/block/sort", {newOrder: sorted.join(","), page: <?php //echo $this->mainPage->getId() ?>});
                    },
                    items: ".widget:not(.not_sortable)"
                }
        );
    });*/
</script>
	
