<section id="page_title">
    <h2><?php echo $this->pageTitle ?></h2>
    <div class="clearer"></div>
</section><!--page_title-->

<?php echo $this->render('page/search_form.phtml'); ?>


    <?php 
    if($this->dto->contents)
    {
        echo $this->render('page/users/administrator/parts/list.phtml');
        echo $this->render('pagination.phtml');
    } else 
        echo $this->render('empty_list.phtml');   
    ?>
    <?php if($this->canAdd):?>
    <section class="common_actions">
    <ul>
    	<li>
    	
    		<a class="btn btn-success ajax" href="/pages/page/new/type/<?php echo $this->content_type ?>">
    		<span class="icon_font">&#xf055;</span>
    		<?php echo $this->translate("Aggiungi nuova pagina") ?>
    		</a>
    	</li>
    </ul>
    </section><!--common_actions-->
    <?php endif;?>