<section id="page_title">
    <h2><?php echo sprintf("%s > %s", $this->translate("Nuova pagina"), $this->pageLabel)  ?></h2>
    <div class="clearer"></div>
</section><!--page_title-->

<section id="dettaglio_certificato">
    <form class="<?php echo $this->form->getAttrib("class") ?>" action="<?php echo $this->form->getAction() ?>" method="<?php echo $this->form->getMethod() ?>" id="<?php echo $this->form->getAttrib("id") ?>">
        <fieldset>

            <?php echo $this->form->label ?>
            <?php echo $this->form->lang ?>
            <?php echo $this->form->status ?> 
            <?php echo $this->form->template ?>
                     
            <?php echo $this->form->id ?> 
            <?php echo $this->form->order ?> 
            <div class="clearer"></div>

            <input type="submit" class="btn btn-success" value="<?php echo $this->translate("Crea") ?>">
        </fieldset>

    </form>
</section><!--dettaglio_certificato-->

<div class="clearer"></div>
       