<section class="widget">
	<section class="widget_header">
		<h4><?php echo $this->translate("Aggiungi Blocco") ?></h4>
		<div class="clearer"></div>
	</section>
	<!--widget_header-->
	<section class="widget_body">
		<form class="<?php echo $this->form->getAttrib("class") ?>"
			action="<?php echo $this->form->getAction() ?>"
			method="<?php echo $this->form->getMethod() ?>">
			<fieldset>

            <?php echo $this->form->template?>
            <?php echo $this->form->order?>
            <?php echo $this->form->pageid?>
            <div class="clearer"></div>

				<input type="submit" class="btn btn-success" value="<?php echo $this->translate("Proceed") ?>">
			</fieldset>
		</form>
	</section>
</section>