<section id="page_title">
    <h2><?php echo sprintf("%s > %s", $this->translate($this->label), $this->mainPage->label)  ?></h2>
    <div class="clearer"></div>
</section><!--page_title-->

<?php 
	$firsttab_start = '';
	$firsttab_end = '';
	$tabcontainer_start = '';
	$tabcontainer_end = '';
	
	if($this->tabs): 
		$tabcontainer_start = '<section id="tabs">';
		$tabcontainer_end = '</section><!--tabs-->';
		$firsttab_start = '<div id="tab1">';
		$firsttab_end = '</div><!-- tab1-->';
	endif;
?>
		<?php if($this->tabs): ?>
			<?php echo $tabcontainer_start; ?>
			  <ul>
			    <li><a href="#tab-1">Tab 1</a></li>
			    <?php 
			    	foreach($this->tabs as $tab)
			    		echo sprintf('<li><a href="%s">%s</a></li>', $tab['href'] , $tab['label']);
			    	//added all tabs 
			    ?>
			  </ul>
		<?php endif; ?>
		<?php if($this->tabs): ?>
			<?php echo $firsttab_start; //if have tab, i output the start element ?> 
		<?php endif; ?>
			<section class="widget">
				<section class="widget_body">
					<form class="<?php echo $this->form->getAttrib("class") ?>" action="<?php echo $this->form->getAction() ?>" method="<?php echo $this->form->getMethod() ?>" id="<?php echo $this->form->getAttrib("id") ?>">
						<fieldset>
				            <?php echo $this->form->label ?>
				            <?php echo $this->form->lang ?>
				            <?php echo $this->form->template ?>
				            <?php echo $this->form->status ?>          
				            <?php echo $this->form->id ?> 
				            <?php echo $this->form->order ?> 
				            <div class="clearer"></div>
				
				            <input type="submit" class="submit_btn" value="<?php echo $this->translate("Aggiorna") ?>">
				        </fieldset>
				
				     </form>
				</section><!-- widget_body -->
			</section><!--widget-->
			<?php if($this->blocks): ?>
				<?php foreach($this->blocks as $blockId => $block): ?>
					<?php echo $this->partial('block/users/administrator/edit.phtml', $block) ?>
				<?php endforeach;?>
			<?php endif; ?>
			<div class="clearer"></div>
	<?php if($this->tabs): ?>
		<?php echo $firsttab_end;  //if i have the tab, i output the first closure tab.. :) ?>
		<?php echo $tabcontainer_end; ?>
	<?php endif; ?>
	
	<section class="common_actions">
		<ul>
	    	<li>
		    	<a class="btn btn-success zoom fancybox.iframe " href="/pages/page/selecttemplate/id/<?php echo $this->mainPage->id ?>">
		    		<span class="icon_font">&#xf055;</span><?php echo $this->translate("Aggiungi nuovo blocco")?>
		    	</a>
	    	</li>
	    	<li>
		    	<a class="btn btn-danger" href="#" onclick="window.main_page.drop();">
		    		<span class="icon_font">&#xf055;</span><?php echo $this->translate("Rimuovi Pagina")?>
		    	</a>
	    	</li>
	    </ul>
    </section>
	
