<section class="widget">
  <section class="widget_header">
      <h4><?php echo $this->translate("Aggiunta elementi alla libreria") ?></h4>
      <div class="clearer"></div>
  </section><!--widget_header-->
  
  <section class="widget_body">
  	<form action="<?php echo $this->form->getAction() ?>" method="<?php echo $this->form->getMethod() ?>" id="<?php echo $this->form->getAttrib("id") ?>" class="<?php echo $this->form->getAttrib("class") ?>">
		<fieldset>
			<?php echo $this->form->file ?>
		</fieldset>
	</form>
  </section>
</section>