<div class="picture file">
	<h5><?php echo $this->entry->getUploadName() ?></h5>
	<h6><?php echo $this->entry->getFileSize() ?></h6>
	<ul class="actions">
		<li><a href="#"><span class="icon_font">&#xf014;</span></a></li>
		<li class="select-element"><a href="#" class="select" rel="<?php echo $this->entry->getId() ?>" onclick="Library.choose(this);return false"><span class="icon_font">&#xf046;</span></a></li>
	</ul>
</div>
<!--picture-->
