<section class="widget">
  <section class="widget_header">
    	<h4><?php echo $this->translate("Versioni disponibili dell'immagine")?></h4>
    <div class="clearer"></div>
  </section>
  <!--widget_header-->

  <section class="widget_body">
    	<fieldset> 
    	  <?php if($this->entries): ?>
            <section class="gallery">
	            <?php 
	            	$this->partialLoop()->setObjectKey("entry");
	            	echo $this->partialLoop('media/users/administrator/choose-child-image.phtml', $this->entries) 
	            ?>
	            <div class="clearer"></div>
            </section><!--gallery-->
          <?php else:?>    
           <p class="nocontent"><?php echo $this->translate("Nessuna versione disponibile")?></p>
          <?php endif;?>
        </fieldset>
     </section><!--widget_body-->
     <section class="widget_footer">
     <?php if($this->entries): ?>
     	<input type="button" class="btn btn-success" value="Utilizza immagini Selezionate" onclick="Library.replace();return false" />
     <?php endif;?>
     	<a class="btn btn-success" href="<?php echo $this->editLink ?>/blockName/<?php echo $this->blockName?>" ><?php echo $this->translate("Crea una nuova versione")?></a>
     </section>
</section>
