<script type="text/javascript">
//<!--
$(document).ready(function() {
	var scaledown = <?php echo $this->scaledown ?>;
	var whratio = <?php echo $this->whratio ?>;
	var showCoords = function(c)
		{
			$('#x').val(c.x *scaledown);
			$('#y').val(c.y *scaledown);
			$('#x2').val(c.x2 *scaledown);
			$('#y2').val(c.y2 * scaledown);
			$('#w').val(c.w * scaledown);
			$('#h').val(c.h * scaledown);
		};
		
		$('#target').Jcrop({
			onChange: showCoords,
			onSelect: showCoords,
			aspectRatio: whratio
		});	
	});
//-->

</script>
<section class="widget">
	<section class="widget_header">
		<h4>Ridimensionamento immagine</h4>
		<div class="clearer"></div>
	</section>
	<!--widget_header-->

	<section class="widget_body">

		<section class="crop_area">
	<?php if($this->resize) :?>
				<img src="/assets/res.php?src=<?php echo $this->entry->getAssetUrl() ?>&w=<?php echo $this->width?>&h=<?php echo $this->height ?>&a=tl" id="target" />
			<?php else: ?>
			<img src="<?php echo $this->entry->getAssetUrl() ?>" id="target" />
			<?php endif;?>
			<!-- This is the form that our event handler fills -->
			<form id="coords" class="coords" action="/app/media/crop" method="post">
				<input type="hidden" name="resize" value="<?php echo $this->resize ?>" />
				<input type="hidden" name="x" value="" id="x" />
				<input type="hidden" name="y" value="" id="y"/>
				<input type="hidden" name="x2" value="" id="x2"/>
				<input type="hidden" name="y2" value="" id="y2"/>
				<input type="hidden" name="w" value="<?php echo $this->requestWidth ?>" />
				<input type="hidden" name="h" value="<?php echo $this->requestHeight ?>" />
				<input type="hidden" name="id" value="<?php echo $this->entry->getId() ?>"/>
				<input type="hidden" name="blockId" value="<?php echo $this->blockId ?>"/>
				
				<div class="inline-labels">
					<label>Larghezza <span class="suggested">(<?php echo $this->requestWidth?> px)</span><input type="text" size="4" id="w" name="aw" readonly/></label>
					<label>Altezza <span class="suggested">(<?php echo $this->requestHeight?> px)</span><input type="text" size="4" id="h" name="ah" readonly/></label>
				</div>
				 
				<input type="submit" class="btn btn-success" value="Salva">
			</form>

		</section>
		<!--crop_area-->



	</section>
	<!--widget_body-->

</section>
<!--widget-->