<section id="page_title">
    <h2>Gallery</h2>
    <div class="clearer"></div>
</section><!--page_title-->


<section class="widget">
  <section class="widget_header">
    	<h4>Uploaded Files</h4>
    <div class="clearer"></div>
  </section>
  <!--widget_header-->
  <?php if($this->entries): ?>

  <section class="widget_body">
    	<fieldset>
            <section class="gallery">
	            <?php 
	            	$this->partialLoop()->setObjectKey("entry");
	            	echo $this->partialLoop('media/users/administrator/image.phtml', $this->entries) 
	            ?>
	            <div class="clearer"></div>
            </section><!--gallery-->
               
        </fieldset>
      <?php
      if ($this->paginator):
          $pagination = $this->pagination($this->paginationController);   //telling who's in charge to control pagination
          ?>
          <section class="pagination">
              <?php if ($this->paginator->hasPages): ?>
                  <ul id="pagine">
                      <?php echo $pagination->previous() ?>
                      <?php echo $pagination->pageList() ?>
                      <?php echo $pagination->next() ?>
                  </ul>
              <?php endif; ?>
              <form class="pagination_elements" action="" id="<?php echo $this->paginationController ?>" method="post" id="frm_pagination">
                  <div class="formBlock">
                      <label><?php echo $this->translate("Elementi per pagina") ?>:</label>
                      <?php echo $pagination->ipp(); ?>
                  </div><!--formBlock-->

                  <div class="formBlock">
                      <label><?php echo $this->translate("Vai a pagina") ?>:</label>
                      <?php echo $pagination->pageSelect(); ?>
                  </div><!--formBlock-->

                  <input type="hidden" name="pag" value="<?php echo $this->paginator->curPage ?>"/>
                  <?php if($this->blockId): ?>
                      <input type="hidden" name="blockId" value="<?php echo $this->blockId ?>"/>
                  <?php endif; ?>
                  <input type="hidden" name="pag" value="<?php echo $this->paginator->curPage ?>"/>
                  <input type="hidden" name="ipp" value="<?php echo $this->paginator->itemsPerPage ?>"/>
              </form>
          </section><!-- paginazione -->
      <?php endif; ?>
     </section><!--widget_body-->
     <section class="widget_footer">
     	<input type="button" class="btn btn-success" value="Aggiungi immagini Selezionate" onclick="Library.addLocal();return false" />
     </section>
</section>
<?php endif;?>