<section id="page_title">
    <h2>Gallery</h2>
    <div class="clearer"></div>
</section><!--page_title-->


<section class="widget">
  <section class="widget_header">
    	<h4>Uploaded Files</h4>
    <div class="clearer"></div>
  </section>
  <!--widget_header-->
  <?php if($this->entries): ?>

  <section class="widget_body">
    	<fieldset> 
            <section class="gallery">      
	            <?php 
	            	$this->partialLoop()->setObjectKey("entry");
	            	echo $this->partialLoop('media/users/administrator/doc.phtml', $this->entries) 
	            ?>
            </section><!--gallery-->
            
        </fieldset>
     </section><!--widget_body-->
     <section class="widget_footer">
     	<input type="button" class="btn btn-success" value="Aggiungi Selezionati" onclick="Library.addLocal();return false" />
     </section>
</section>
<?php endif;?>