<div class="picture">
	<a class="preview zoom" href="<?php echo $this->entry->getAssetUrl() ?>"><img class="img" src="/assets/res.php?w=120&h=80&zc=2&src=<?php echo $this->entry->getAssetUrl() ?>"></a>
	<h5><?php echo $this->entry->getUploadName() ?></h5>
	<h6><?php echo $this->entry->getAttribute('size') ?></h6>
	<ul class="actions">
		<li><a class="select_icon" href="/app/media/edit/id/<?php echo $this->entry->getId ?>"><span class="icon_font">&#xf046;</span></a></li>
		<li><a class="edit_icon" href="/app/media/edit/id/<?php echo $this->entry->getId ?>"><span class="icon_font">&#xf040;</span></a></li>
		<li><a class="delete_icon" href=""><span class="icon_font">&#xf014;</span></a></li>
	</ul>
</div>
<!--picture-->