<tr <?php echo ($this->partialCounter%2) ? "class='pari'" : ""; ?>>
	<td><?php echo $this->MessageStatusIcon($this->entry->status) ?></td>
    <td><?php echo $this->entry->subject ?></td>
    <td><?php echo $this->nicesubstring($this->entry->body, 150) ?></td>
   
    <td>
    <?php 
    	$recipients = array();
    	foreach($this->entry->recipients as $rcpt):
    		if($rcpt->sendas == App_Model_Message_Recipient::SEND_AS_TO)
    		{
    			$name = trim($rcpt->name);
    			if(!empty($name))
    				$recipients[] = sprintf('<a href="mailto:%s">%s</a>', $rcpt->address, $name);
    			else 
    				$recipients[] = sprintf('<a href="mailto:%s">%s</a>', $rcpt->address, $rcpt->address);
    		}
    	endforeach;
    	echo implode(",",$recipients);
    ?>
    </td>
    <td><?php echo $this->date("%a %d %b %Y %T", $this->entry->getTscreate()) ?></td>
    <td width="14">
    		<a title="<?php echo $this->translate("View Message") ?>" class="zoom fancybox.iframe" href="/app/mailbox/display/id/<?php echo $this->entry->id ?>"><span class="icon_font">&#xf022;</span></a>
    </td>
    <td width="14">
    	<a title="<?php echo $this->translate("Edit Message") ?>" class="zoom fancybox.iframe" href="/app/mailbox/edit/id/<?php echo $this->entry->id ?>"><span class="icon_font">&#xf040;</span></a>
    </td>
    <td width="14">
    	<?php $js_onclick = sprintf('onclick="message.requeue(\'%d\', this)";', $this->entry->id); ?>
    	<a title="<?php echo $this->translate("Requeue Message") ?>" href="#" <?php echo $js_onclick ?>><span class="icon_font">&#xf079;</span></a>
    </td>
    <td width="14">	
    	<?php $js_delete = sprintf('onclick=mailbox.dropSent("%d");', $this->entry->id); ?>
    		<a title="<?php echo $this->translate("Delete Message") ?>" href="#" <?php echo $js_delete ?>><span class="icon_font">&#xf014;</span></a>
    </td>
</tr>