<section id="page_title">
    <h2><?php echo $this->translate("Message") ?></h2>
    <div class="clearer"></div>
</section><!--page_title-->

<section id="dettaglio_certificato">
    <form class="<?php echo $this->form->getAttrib("class") ?>" action="<?php echo $this->form->getAction() ?>" method="<?php echo $this->form->getMethod() ?>">
     <fieldset>
      		<?php echo $this->form->to ?>
      		<div class="clearer"></div>

            <?php echo $this->form->cc ?>
            <div class="clearer"></div>
            
            <?php echo $this->form->bcc ?>
            <div class="clearer"></div>
            
            <?php echo $this->form->subject ?>
            <div class="clearer"></div>
            
            <?php echo $this->form->body ?>
            <?php echo $this->form->id ?>
            <div class="clearer"></div> 
            <?php echo $this->form->submit ?>
     </fieldset>
    </form>
</section>