<h4><?php echo $this->translate("Sent Emails")?></h4>
<?php if($this->entries): ?>
	<div id="mailbox-list-sent">
		<table class="tabella" border="0" cellpadding="0" cellspacing="1" id="table-sent">
		<thead>
			<tr>
				<th><a class="sort" href="#"><?php echo $this->translate("Status") ?></a></th>
				<th><a class="sort" href="#"><?php echo $this->translate("Subject") ?></a></th>
		        <th><a class="sort" href="#"><?php echo $this->translate("Body") ?></a></th>
		        <th><a class="sort" href="#"><?php echo $this->translate("To") ?></a></th>
		        <th><a class="sort" href="#"><?php echo $this->translate("Creation Date") ?></a></th>
		        <th colspan="5"><?php echo $this->translate("Azioni") ?></th>
		    </tr>
		</thead>
		<tbody>
		       
		<?php
			$this->partialLoop()->setObjectKey("entry");
		    echo $this->partialLoop('/transactional/parts/sent/row.phtml', $this->entries);
		?>
		        
		</tbody>
		</table>
	
	<?php echo $this->render('pagination.phtml'); ?>
	<?php else: ?>
	<?php echo $this->render('empty_list.phtml')?>
	</div>
	<?php endif; ?>

