/* CSS FRAMEWORK
versione 3.0 by Nic - http://www.enneb.com/

-------------------------------------------------------------
-------------------------------------------------------------
	background-image: url(/common/img/xxx.png);
	_background-image: url(/common/common/img/transparent.gif);
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="common/img/xxx.png", sizingMethod="crop");
	background-repeat: no-repeat;
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
article, aside, figure, footer, header,
hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

pre {
padding: 15px;
white-space: pre; /* CSS2 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-word; /* IE */
}
/* align checkboxes, radios, text inputs with their label */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; width: auto !important; }
.ie6 input { vertical-align: text-bottom; }
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

:focus {
outline: 0;
}
/* bicubic resizing for non-native sized IMG:*/
.ie7 img { -ms-interpolation-mode: bicubic; }
.clearer {
     visibility: hidden;
     display: block;
     font-size: 0;
     clear: both;
     height: 0;
     }

/* Heading kerning pairs and ligatures */
h1, h2, h3 { text-rendering: optimizeLegibility; }

/* END RESET CSS */

#infocontent {
	width: 100px;
	height: 100px;
	position: absolute;
	top: -900px;
	left: -900px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-size: 10px;
}

#infocontent ul li {
	list-style-type: none;
}

#infocontent h3 a,
#infocontent ul li a {
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#privacySlider {
	background-color: #d60d17;
	color: #fff;
	position: fixed;
	left: 0;
	z-index: 1000;
	width: 100%;
	text-align: center;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 5px;
	overflow: hidden;
	bottom: 0;
	height: auto;
	min-height: 30px;
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
	font-style: normal;
	line-height: 130%;
	font-size: 13px;
	font-variant: normal;
	display: none;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

#privacySlider a {
	color: #fff;
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
}

#privacySlider a:hover {
	text-decoration: none;
}

#privacySlider a#cookieBtn {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	padding: 3px 10px;
	display: inline-block;
	background-color: #a01410;
	font-size: 12px;
	-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
	color: #fff;
	margin: 5px;
}

#privacySlider a#cookieBtn:hover {
	background-color: #fa251f;
}

/* -------- STILI PROGETTO ------- */



::selection {
        background: #d60d17;
	color: #fff;
}
::-moz-selection {
        background: #d60d17;
	color: #fff;
}

@font-face {
	font-family: 'gothic';
	src: url('/common/font/gothic.eot');
	src: local('gothic'), url('/common/font/gothic.woff') format('woff'), url('/common/font/gothic.ttf') format('truetype');
}

body {
	-webkit-text-size-adjust: 100%;
	background-color: #fff;
	font-family: Verdana, Arial, sans-serif;
	line-height: 100%;
}

#loader {
	background: #fff url(/common/img/logo_web.jpg) no-repeat center center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
}

.container {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

/* -------- HEADER ------- */

header {
	height: 170px;
	border-bottom: 1px solid #333333;
}

header h1 {
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 3;
}

header h1 a {
	display: block;
	width: 117px;
	height: 118px;
	background: url(/common/img/logo_web.jpg) no-repeat 0 0;
	text-indent: -900em;
}

header #sub_menu {
	position: absolute;
	top: 100px;
	left: 180px;
}

header #sub_menu ul {
	
}

header #sub_menu ul li {
	float: left;
	display: inline;
	margin-left: 15px;
}

header #sub_menu ul li,
header #sub_menu ul li a {
	color: #333333;
	text-decoration: none;
	text-transform: uppercase;
	font: normal bold 17px/100% gothic;
}

header #sub_menu ul li a.current,
header #sub_menu ul li a:hover {
	color: #d60d17;
}

header #sub_menu ul li.separator {
	background-color: #333;
	width: 1px;
	height: 18px;
	text-indent: -900em;
	margin-top: 0px;
}

footer h5#fm_retail {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 30px;
	right: 100px;
}

footer h5#fm_retail a {
	text-indent: -900em;
	background: url(/common/img/fm_retail_logo.jpg) no-repeat 0 0;
	width: 50px;
	height: 50px;
	display: block;
}

header #corporate_menu {
	position: absolute;
	top: 60px;
	right: 0;
}

header #corporate_menu ul {
	
}

header #corporate_menu ul li {
	text-align: right;
	margin-bottom: 2px;
}

header #corporate_menu ul li a {
	color: #333333;
	text-decoration: none;
	font: normal normal 15px/110% gothic;
	text-transform: lowercase;
}

header #corporate_menu ul li a.current,
header #corporate_menu ul li a:hover {
	color: #d60d17;
}

header #language_menu {
	position: absolute;
	top: 30px;
	right: 0;
	z-index: 10;
}

header #language_menu ul {
	
}

header #language_menu ul li {
	list-style-type: none;
	float: left;
	display: inline;
	margin-left: 5px;
}

header #language_menu ul li,
header #language_menu ul li a,
header #language_menu ul li a.language_disabled:hover {
	display: block;
	color: #ccc;
	text-decoration: none;
	text-align: center;
	font-style: normal;
	font-size: 14px;
	font-variant: normal;
	text-transform: lowercase;
}

header #language_menu ul li a.current,
header #language_menu ul li a:hover {
	color: #d60d17;
}
header #language_menu ul li a.language_disabled:hover {
	cursor: default;
}

#main_menu {
	position: absolute;
	top: 689px;
	left: 0;
	border-top: 1px solid #d60d17;
	border-bottom: 1px solid #d60d17;
	width: 100%;
	height: 55px;
	z-index: 11;
}

#main_menu ul {
	margin-top: 17px;
}

#main_menu ul li {
	float: left;
	display: inline;
	list-style-type: none;
	margin-left: 60px;
}

#main_menu ul li a {
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	display: block;
	padding-bottom: 20px;
	font: normal 18px/100% gothic;
}

#main_menu ul li.current a,
#main_menu ul li a.current,
#main_menu ul li a:hover {
	color: #d60d17;
}

#menu_controller {
	background-color: #fff;
	width: 100%;
	height: 38px;
	position: absolute;
	top: 747px;
	left: 0;
	z-index: 10;
}

#main_menu_panel {
	background-color: rgba(214,13,23,0.70);
	position: absolute;
	top: 520px;
	left: 0;
	width: 100%;
	height: 120px;
	overflow: hidden;
	
	opacity:0;
  	-webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
	z-index: 30;
	padding-bottom: 30px;
	padding-top: 20px;
}

.ie7 #main_menu_panel,
.ie8 #main_menu_panel {
	background-color: #d60d17;
}

#main_menu_panel.current_mainmenu {
	opacity: 1;
	min-height: 120px;
}

#main_menu_panel .menu {
	display: none;
	padding-left: 84px;
}

#main_menu_panel .menu.current {
	display: block;
}

#main_menu_panel ul {
	display: block;
	padding: 0;
	float: left;
	width: 430px;
	height: 130px;
}

#main_menu_panel ul.last {
	border-left: 1px solid #fff;
	margin-right: 0;
	padding-left: 21px;
}

#main_menu_panel ul li {
	list-style-type: none;
	margin-bottom: 2px;
	width: 200px;
	margin-right: 15px;
	display: block;
	float: left;
}

#main_menu_panel ul li.first {
	margin-right: 0;
	width: 463px;
	margin-bottom: 5px;
}

#main_menu_panel ul li strong {
	text-transform: uppercase;
	display: block;
	margin-bottom: 5px;
}

#main_menu_panel ul li,
#main_menu_panel ul li strong,
#main_menu_panel ul li a {
	text-decoration: none;
	color: #fff;
	font: normal bold 14px/100% gothic;
}

#main_menu_panel ul li a {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

#main_menu_panel ul li a:hover {
	text-decoration: underline;
}

/* -------- MAIN PAGE ------- */

#main_page {
	overflow: hidden;
}

#home_slider {
	width: 1000px;
	height: 500px;
	margin-bottom: 120px;
}

#home_slider.small_bottom_margin {
	margin-bottom: 20px;
}

#home_slider #slideshow {
	width: 1000px;
	height: 500px;
}

#page_title {
	margin-bottom: 40px;
	margin-top: 70px;
	position: relative;
	overflow: hidden;
}

#page_title h4 {
	margin-bottom: 20px;
	float: left;
}

#page_title h4,
#page_title h4 a,
#page_title #candidatura_spontanea h5 {
	color: #333;
	text-decoration: none;
	font-style: normal;
	line-height: 100%;
	font-size: 12px;
	font-variant: normal;
	font-weight: 400;
}

#page_title h4 a:hover {
	color: #e80000;
}

#page_title h3 {
	text-decoration: none;
	color: #333;
	font: normal bold 28px/100% gothic;
	text-transform: uppercase;
	float: left;
	clear: both;
}

#page_title #candidatura_spontanea {
	position: absolute;
	right: 0;
	bottom: 10px;
	width: 280px;
	overflow: hidden;
	height: 30px;
}

#page_title #candidatura_spontanea h5 {
	font-size: 12px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.social_share {
	float: right;
	margin-top: 6px;
}

.sharrre .box{

height:22px;
display:inline-block;
position:relative;
padding:0px 55px 0 8px;
font-size:12px;
float:left;
clear:both;
overflow:hidden;
-webkit-transition:all 0.3s linear;
-moz-transition:all 0.3s linear;
-o-transition:all 0.3s linear;
transition:all 0.3s linear;
	background-color: #dedede;
}
.sharrre .left{
line-height:22px;
display:block;
white-space:nowrap;
text-shadow:0px 1px 1px rgba(255,255,255,0.3);
color: #333;
-webkit-transition:all 0.2s linear;
-moz-transition:all 0.2s linear;
-o-transition:all 0.2s linear;
transition:all 0.2s linear;
}
.sharrre .middle{
position:absolute;
height:22px;
top:0px;
right:30px;
width:0px;
background: #efefef;
color: #333;
white-space:nowrap;
text-align:left;
overflow:hidden;
-webkit-transition:width 0.3s linear;
-moz-transition:width 0.3s linear;
-o-transition:width 0.3s linear;
transition:width 0.3s linear;
}
.sharrre .middle a{
color: #333;
font-weight:bold;
padding:0 9px 0 9px;
text-align:center;
float:left;
line-height:22px;
}
.sharrre .right{
position:absolute;
right:0px;
top:0px;
height:100%;
width:45px;
text-align:center;
line-height:22px;
color: #fff;
background: #d60d17;

}
.sharrre .box:hover{
padding-right:130px;
}
.sharrre .middle a:hover{
text-decoration:none;
}
.sharrre .box:hover .middle{
width:90px;
}

/* -------- MAIN DATA ------- */

.mainCol a {
	text-decoration: underline;
	color: #333;
}

.mainCol a:hover {
	color: #d60d17;
}

#main_data {
	overflow: hidden;
}

#main_data .mainCol {
	float: left;
	width: 660px;
	padding-bottom: 50px;
}

#main_data .mainCol #discipline_text {
	margin-bottom: 60px;
}

#main_data #project_data {
	color: #333;
	text-decoration: none;
	margin-bottom: 30px;
	line-height: 150%;
	font-size: 12px;
}

#main_data #project_data ul li em {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#main_data .mainCol #discipline_text h3 {
	color: #3B3B3B;
	text-decoration: none;
	font: normal bold 22px/100% gothic;
	margin-bottom: 10px;
}

#main_data .mainCol #discipline_text p {
	color: #333;
	text-decoatio: none;
	font-style: normal;
	line-height: 200%;
	font-size: 14px;
	font-variant: normal;
}

#main_data .mainCol #download {
	
}

#main_data .mainCol #download h5 {
	text-transform: uppercase;
	border: 1px solid #333;
	padding: 5px 10px 5px 30px;
	color: #333;
	text-decoration: none;
	width: auto;
	background: url(/common/img/download_icon.gif) no-repeat 6px 7px;
	margin-bottom: 5px;
	line-height: 100%;
	font-size: 12px;
	display: inline-block;
}

#main_data .mainCol #download ul li {
	margin-bottom: 0;
}

#main_data .mainCol #download ul li a {
	color: #333;
text-decoration: none;
	font-style: normal;
	line-height: 220%;
	font-size: 12px;
}

#main_data .mainCol #download ul li a:hover {
	color: #d60d17;
}

#main_video {
	margin-botom: 80px;
	font-style: normal;
	line-height: 220%;
	font-size: 12px;
}

/* --- sidebar --- */

#main_data .sidebar {
	float: right;
}

#main_data .sidebar #key_people {
	width: 280px;
}

#main_data .sidebar #key_people h5 {
	color: #333;
	text-decoration: none;
	margin-left: 30px;
	margin-bottom: 15px;
	font-style: normal;
	line-height: 100%;
	font-size: 15px;
	font-variant: normal;
}

#main_data .sidebar #key_people ul {
	width: 280px;
}

#main_data .sidebar #key_people ul li {
	list-style-type: none;
	width: 280px;
	font-style: normal;
	line-height: 100%;
	font-weight: bold;
	font-size: 15px;
}

#main_data .sidebar #key_people ul li a {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	width: 110px;
	float: left;
	margin-left: 30px;
	margin-bottom: 10px;
	position: relative;
	height: 170px;
}

#main_data .sidebar #key_people ul li a .img {
	width: 110px;
	height: 110px;
	margin-bottom: 3px;
}

#main_data .sidebar #key_people ul li a h6 {
	color: #333;
	text-decortion: none;
	margin-bottom: 5px;
	font-style: normal;
	line-height: 100%;
	font-size: 12px;
	font-variant: normal;
	font-weight: 400;
}

#main_data .sidebar #key_people ul li a h5 {
	font: normal normal 12px/100% gothic;
	color: #333;
	text-transform: uppercase;
	margin-left: 0;
}

#main_data .sidebar #key_people ul li a:hover {
	
}

#main_data .sidebar #key_people ul li a:hover h6,
#main_data .sidebar #key_people ul li a:hover h5 {
	color: #d60d17;
}

#main_data .sidebar #key_people .jcarousel-container {
    position: relative;
	width: 280px;
	margin: 0;
	padding: 0;
	height: 450px;
}

#main_data .sidebar #key_people .jcarousel-clip {
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
	width: 280px;
	height: 450px;
}

#main_data .sidebar #key_people .jcarousel-list {
    z-index: 1;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
	height: 350px;
}

#main_data .sidebar #key_people .jcarousel-list li,
#main_data .sidebar #key_people .jcarousel-item {
    float: left;
    list-style: none;
	padding: 0;
	width: 280px;
	height: 350px;
	margin: 0;
}
#main_data .sidebar #key_people .jcarousel-next {
   z-index: 3;
    display: none;
}

#main_data .sidebar #key_people .jcarousel-prev {
    z-index: 3;
    display: none;
}

#main_data .sidebar #key_people .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

#main_data .sidebar #key_people .jcarousel-next-horizontal {
    position: absolute;
    width: 26px;
    height: 27px;
    cursor: pointer;
	right: 0;
	background: transparent url(/common/img/carousel_arrow_next.jpg) no-repeat 0 0;
	z-index: 10;
	display: block;
	top: 400px;
}

#main_data .sidebar #key_people .jcarousel-next-horizontal:hover {
    background-position: 0 bottom;
    cursor: pointer;
}

#main_data .sidebar #key_people .jcarousel-next-disabled-horizontal,
#main_data .sidebar #key_people .jcarousel-next-disabled-horizontal:hover,
#main_data .sidebar #key_people .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0;
}

#main_data .sidebar #key_people .jcarousel-prev-horizontal {
    position: absolute;
    width: 26px;
    height: 27px;
    cursor: pointer;
	background: transparent url(/common/img/carousel_arrow_prev.jpg) no-repeat 0 0;
	z-index: 10;
	display: block;
	top: 400px;
	right: 99px;
}

#main_data .sidebar #key_people .jcarousel-prev-horizontal:hover {
    background-position: 0 bottom;
    cursor: pointer;
}

#main_data .sidebar #key_people .jcarousel-prev-disabled-horizontal,
#main_data .sidebar #key_people .jcarousel-prev-disabled-horizontal:hover,
#main_data .sidebar #key_people .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0;
}

#main_data .sidebar #key_people #carousel_pagination {
	text-decoration: none;
	color: #333333;
	font: normal normal 12px/100% gothic;
	position: absolute;
	top: 400px;
	right: 30px;
	width: 70px;
	display: block;
}

#main_data .sidebar #key_people #carousel_pagination strong {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	border: 1px solid #ccc;
	width: 26px;
	height: 25px;
	display: inline-block;
	text-align: center;
	line-height: 220%;
	margin-right: 3px;
}

#main_data .sidebar #key_people #carousel_pagination em {
	color: #d60d17;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

#main_data .sidebar h5.view_people {
	
}

#main_data .sidebar h5.view_people a {
	text-decoration: none;
	color: #333333;
	font: normal normal normal 15px/100% gothic;
	text-transform: uppercase;
	text-align: center;
	background-color: #F2F2F2;
	padding: 10px 20px 10px;
	display: block;
}

#main_data .sidebar h5.view_people a:hover {
	color: #d60d17;
}

/* -------- HOME ARTICLES ------- */

.home #home_articles {
	
	padding-top: 0;
	border-top: none;
}

#home_articles {
	overflow: hidden;
	margin-bottom: 20px;
	padding-top: 40px;
	border-top: 1px solid #333;
}

#home_articles h4.title {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 30px;
	font: normal bold 19px/170% gothic;
}

#home_articles #mainCol,
#home_countries .countries_articles_container .article.big {
	width: 640px;
	float: left;
}

#home_articles #sidebar,
#home_countries .countries_articles_container .article.small {
	float: right;
	width: 320px;
}

#home_articles .article {
	margin-bottom: 50px;
}

#home_articles .article,
#home_countries .countries_articles_container .article {
	position: relative;
}

#home_articles .article .color_wrapper,
#home_countries .countries_articles_container .article .color_wrapper,
#main_data .sidebar #key_people ul li a .color_wrapper,
#home_articles ul.photo_gallery li a .color_wrapper,
.projects .mainCol .project a .color_wrapper,
.projects .mainCol .new a .color_wrapper,
.key_people ul li a .color_wrapper {
	background-color: rgba(214,13,23,0.5);
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 320px;
	opacity: 0;
	
	 -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.ie7 #home_articles .article .color_wrapper,
.ie7 #home_countries .countries_articles_container .article .color_wrapper,
.ie7 #main_data .sidebar #key_people ul li a .color_wrapper,
.ie7 #home_articles ul.photo_gallery li a .color_wrapper,
.ie7 .projects .mainCol .project a .color_wrapper,
.ie7 .projects .mainCol .new a .color_wrapper,
.ie7 .key_people ul li a .color_wrapper,
.ie8 #home_articles .article .color_wrapper,
.ie8 #home_countries .countries_articles_container .article .color_wrapper,
.ie8 #main_data .sidebar #key_people ul li a .color_wrapper,
.ie8 #home_articles ul.photo_gallery li a .color_wrapper,
.ie8 .projects .mainCol .project a .color_wrapper,
.ie8 .projects .mainCol .new a .color_wrapper,
.ie8 .key_people ul li a .color_wrapper {
	background-color: #d60d17;
	opacity: 0;
}


#main_data .sidebar #key_people ul li a .color_wrapper {
	width: 110px;
	height: 110px;
}

#home_articles ul.photo_gallery li a .color_wrapper {
	width: 160px;
	height: 160px;
}

#home_articles .article a:hover .color_wrapper,
#home_countries .countries_articles_container .article a:hover .color_wrapper,
#main_data .sidebar #key_people ul li a:hover .color_wrapper,
#home_articles ul.photo_gallery li a:hover .color_wrapper,
.projects .mainCol .project a:hover .color_wrapper,
.projects .mainCol .new a:hover .color_wrapper,
.key_people ul li a:hover .color_wrapper {
	opacity: 0;
}

#home_articles .article a,
#home_countries .countries_articles_container .article a {
	text-decoration: none;
	position: relative;
	display: block;
}

#home_articles .article p a,
#home_countries .countries_articles_container .article p a {
	color: #333;
	display: inline;
	text-decoration: underline;
}

#home_articles .article .img,
#home_countries .countries_articles_container .article .img {
	position: relative;
	z-index: 1;
	margin-bottom: 20px;
}

#home_articles .article h6,
#home_articles .article h4,
#home_articles .article p,
#home_countries .countries_articles_container .article h4,
#home_countries .countries_articles_container .article p,
#home_countries .countries_articles_container .article h6,
.projects .mainCol .project a h6,
.projects .mainCol .new a h5,
.projects .mainCol .new a h6,
.projects .mainCol .new a p,
.key_people ul li a h6 {
	color: #333;
	text-decoration: none;
	font-style: normal;
	line-height: 100%;
	font-size: 14px;
}

#home_articles .article h6,
#home_countries .countries_articles_container .article h6 {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 15;
	color: #333;
	background-color: #fff;
	tex-align: center;
	display: block;
	padding: 8px 30px;
	font-style: normal;
	line-height: 100%;
	font-size: 14px;
}

#home_articles .article h4,
#home_countries .countries_articles_container .article h4 {
	margin-bottom: 13px;
	font-weight: 400;
}

#home_articles .article h3,
#home_countries .countries_articles_container .article h3 {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font: normal bold 22px/120% gothic;
	margin-bottom: 10px;
}

#home_articles .article p,
#home_countries .countries_articles_container .article p {
	line-height: 170%;
}

#home_articles .article a:hover h3,
#home_articles .article a:hover h4,
#home_articles .article a:hover p,
#home_countries .countries_articles_container .article a:hover h3,
#home_countries .countries_articles_container .article a:hover h4,
#home_countries .countries_articles_container .article a:hover p {
	color: #d60d17;
}

#home_articles #mainCol .article {
	width: 640px;
	height: 480px;
}

#home_articles #sidebar .article {
	width: 320px;
	height: 480px;
}

#home_articles #mainCol .article .img,
#home_countries .countries_articles_container .article.big .img,
#home_articles #sidebar .article .img,
#home_countries .countries_articles_container .article.small .img {
	height: 320px;
}


#home_articles #sidebar .article h4,
#home_articles #sidebar .article h3,
#home_countries .countries_articles_container .article.small h4,
#home_countries .countries_articles_container .article.small p {
	margin-bottom: 5px;
}

#home_articles #sidebar .article h3,
#home_countries .countries_articles_container .article.small h3 {
	font-size: 18px;
	line-height: 130%;
}


#home_articles .row {
	height: 480px;
	overflow: hidden;
	margin-bottom: 60px;
}

#home_articles .row .article {
	height: 480px;
	width: 640px;
	float: left;
	margin-right: 40px;
}

#home_articles .row .article.last {
	margin-right: 0;
}

#home_articles .row .article.small {
	width: 320px;
}


/* -------- PROJECT GALLERY ------- */

#home_articles ul.photo_gallery {
	overflow: hidden;
	margin-bottom: 50px;
}

#home_articles ul.photo_gallery li {
	width: 160px;
	height: 160px;
	padding: 0;
	list-style-type: none;
	float: left;
	margin: 0 8px 8px 0;
}

#home_articles ul.photo_gallery li.no_margin {
	margin-right: 0;
}

#home_articles ul.photo_gallery li a {
	display: block;
	width: 160px;
	height: 160px;
	position: relative;
	margin: 0;
	padding: 0;
}

#home_articles ul.photo_gallery li a .img {
	width: 160px;
	height: 160px;
	z-index: 1;
	position: relative;
	margin: 0;
	padding: 0;
}

/* -------- PROJECT TAG ------- */
.project_tags {
	border-top: 1px solid #333;
	padding-top: 40px;
	margin-top: 40px;
	overflow: hidden;
}

.project_tags h4 {
	font: normal normal 20px/100% gothic;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.project_tags ul {
	width: 660px;
}

.project_tags ul li {
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	list-style-type: none;
}

.project_tags ul li a {
	background-color: #F2F2F2;
	display: block;
	padding: 10px;
	font: normal normal 14px/100% gothic;
	text-align: center;
	color: #3a3a3a;
	text-decoration: none;
	text-transform: capitalize;
}

.project_tags ul li a:hover {
	background-color: #d60d17;
	color: #fff;
}

/* -------- HOME COUNTRIES ------- */

#map {
	width: 1000px;
	height: 500px;
}

#home_countries {
	overflow: hidden;
}

#home_countries #tab_menu {
	position: relative;
	margin-bottom: 50px;
	float: left;
}

#home_countries #tab_menu ul {
	position: relative;
}

#home_countries #tab_menu ul li {
	float: left;
	list-style-type: none;
}

#home_countries #tab_menu ul li a {
	text-decoration: none;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	display: block;
	background-color: #CCCCCC;
	padding: 7px 39px;
	font: normal normal 13px/100% gothic;
	border-right: 1px solid #fff;
}

#home_countries #tab_menu ul li a.ultimo {
	border-right: none;
	padding-right: 38px;
}

#home_countries #tab_menu ul li.ui-tabs-active a,
#home_countries #tab_menu ul li a:hover {
	background-color: #d60d17;
}

.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
}

.ui-tabs .ui-tabs-panel {
	display: block;
	padding-top: 10px;
}

/* -------- PROJECTS ------- */

.projects .mainCol {
	width: 750px;
	float: left;
}

.projects .mainCol .project {
	width: 230px;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
	height: 300px;
}

.projects .mainCol .project.no_margin {
	margin-right: 0;
}

.projects .mainCol .project a {
	width: 230px;
	position: relative;
	display: block;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.projects .mainCol .project a .img {
	width: 230px;
	height: 230px;
	margin-bottom: 10px;
	position: relative;
	top: 0;
	left: 0;
}

.projects .mainCol .project a h6 {
	font-size: 12px;
	margin-bottom: 3px;
	font-weight: 400;
}

.projects .mainCol .project a h3 {
	font: normal bold 14px/100% gothic;
	color: #333;
	text-decoration: none;
	font-weight: 400;
}

.projects .mainCol .project a .color_wrapper {
	width: 230px;
	height: 230px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.projects .mainCol .project a:hover h6,
.projects .mainCol .project a:hover h3 {
	color: #d60d17;
}

.projects .mainCol .new {
	height: 180px;
	margin-bottom: 30px;
	overflow: hidden;
}

.projects .mainCol .new a {
	height: 180px;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	position: relative;
	width: 750px;
	display: block;
}

.projects .mainCol .new a .img {
	height: 180px;
	width: 365px;
	float: left;
	margin-right: 20px;
	position: relative;
	top: 0;
	left: 0;
}

.projects .mainCol .new a h5 {
	margin-bottom: 10px;
}

.projects .mainCol .new a h3 {
	font: normal bold 19px/120% gothic;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.projects .mainCol .new a h6 {
	margin-bottom: 10px;
	font-weight: 400;
}

.projects .mainCol .new a p {
	line-height: 140%;
}

.projects .mainCol .new a .color_wrapper {
	width: 365px;
	height: 180px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.projects .mainCol .new a:hover h5,
.projects .mainCol .new a:hover h3,
.projects .mainCol .new a:hover h6,
.projects .mainCol .new a:hover p {
	color: #d60d17;
}

#pagination {
	margin-top: 40px;
}

#pagination ul {
	
}

#pagination ul li {
	color: #333333;
	font: normal normal 12px/220% gothic;
	float: left;
	list-style-type: none;
	height: 27px;
	display: block;
}

#pagination ul li a {
	text-decoration: none;
	color: #333333;
	font: normal normal 12px/220% gothic;
}

#pagination ul li strong {
	color: #d60d17;
	font: normal normal 12px/220% gothic;
}

#pagination ul li a.prev {
	display: block;
	text-indent: -900em;
	width: 26px;
	height: 27px;
	background: url(../img/carousel_arrow_prev.jpg) no-repeat 0 0;
}

#pagination ul li a.next {
	display: block;
	text-indent: -900em;
	width: 26px;
	height: 27px;
	background: url(../img/carousel_arrow_next.jpg) no-repeat 0 0;
	margin-left: 10px;
}

#pagination ul li a.prev:hover,
#pagination ul li a.next:hover {
	background-position: 0 bottom;
}

#pagination ul li a.current {
	display: block;
	width: 25px;
	height: 25px;
	border: 1px solid #cecece;
	text-align: center;
	line-height: 220%;
	margin-left: -1px;
	margin-right: 10px;
}

/* --- sidebar --- */

.projects .sidebar {
	float: right;
	width: 190px;
}

#accordion {
	padding-top: 20px;
	padding-left: 10px;
}

a.opening {
    display:block;
   	color: #333333;
	font: normal bold 14px/100% gothic;
	text-decoration: none;
	background: url(../img/accordion_icon.gif) no-repeat 0 0;
	padding-left: 21px;
	margin-bottom: 15px;
	height: 15px;
	padding-top: 1px;
}
  
a.opening:hover, a.active {
	color: #d60d17;
	background-position: 0 bottom;
}
.expanded {
	margin-bottom: 30px;
}

.expanded.open {
	display: block !important;
}

.expanded ul {
	padding-left: 21px;
}

.expanded ul li {
	list-style-type: none;
	margin-bottom: 5px;
}

.expanded ul li a {
	text-decoration: none;
	color: #333333;
	font: normal normal normal 12px/110% gothic;
	background-color: #F2F2F2;
	padding: 5px;
	display: inline-block;
}

.expanded ul li a:hover,
.expanded ul li a.current {
	color: #d60d17;
}

.search_bar {
	margin-top: 40px;
}

.search_bar input {
	border: 1px solid #efefef;
	padding: 5px;
	color: #999;
	font: normal normal normal 13px/100% gothic;
	text-decoration: none;
	margin-bottom: 5px;
	width: 170px;
}

.search_bar input:focus {
	border: 1px solid #333;
	color: #333;
}

.search_bar input.submit_btn {
	color: #fff;
	font: normal bold 13px/100% gothic;
	text-align: center;
	background-color: #333;
	border-style: none;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 0;
	width: auto;
}

.search_bar input.submit_btn:hover {
	background-color: #d60d17;
}

/* -------- SERVICES PAGE ------- */

.services_box {
	overflow: hidden;
	margin-bottom: 60px;
	position: relative;
	width: 100%;
	height: 300px;
}

.services_box .img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	background-color: #efefef;
}

.services_box .services_list {
	position: absolute;
	top: 0;
	left: 340px;
}

.services_box .services_list h4 {
	color: #333;
	font: normal bold 25px/100% gothic;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.services_box .services_list li {
	margin-bottom: 10px;
}

.services_box .services_list li a {
	color: #333;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-size: 15px;
	line-height: 120%;
}

.services_box .services_list li a:hover {
	color: #d60d17;
}

/* -------- KEY PEOPLE PAGE ------- */
.key_people {
	margin-bottom: 30px;
	padding-top: 30px;
	border-top-style: none;
	border-top: 1px solid #333;
	overflow: hidden;
}

.key_people h5 {
	color: #333;
	font: normal bold 20px/100% gothic;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.key_people ul {
	
}

.key_people ul li {
	width: 315px;
	height: 130px;
	float: left;
	margin-right: 25px;
	margin-bottom: 55px;
	list-style-type: none;
}

.key_people ul li.no_margin {
	margin-right: 0;
}

.key_people ul li a {
	width: 315px;
	height: 130px;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	display: block;
	position: relative;
}

.key_people.keystaff ul li a:hover {
	cursor: default;
}

.key_people ul li a .img {
	width: 130px;
	height: 130px;
	position: relative;
	top: 0;
	left: 0;
	float: left;
	margin-right: 15px;
}

.key_people ul li a h6 {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: #333;
	margin-bottom: 5px;
	font-size: 14px;
}

.key_people ul li a h5 {
	text-decoration: none;
	color: #333;
	font: normal bold 17px/110% gothic;
	text-transform: uppercase;
}

.key_people ul li a .color_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 130px;
	height: 130px;
}

.key_people.keystaff ul li a:hover .color_wrapper {
	display: none;
}

/* -------- PEOPLE DETAIL
 ------- */

#main_data.people {
	margin-bottom: 50px;
}

#main_data.people .img.people {
	float: left;
	width: 400px;
	height: 400px;
	margin-right: 45px;
}

#main_data.people .mainCol {
	float: left;
	width: 500px;
}

#main_data.people .mainCol #discipline_text h3 {
	text-decoration: none;
	color: #333;
	font: normal bold 25px/130% gothic;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#main_data.people .mainCol #discipline_text p {
	font-size: 13px;
	line-height: 220%;
}

/* -------- CONTACTS ------- */

.contact_box {
	overflow: hidden;
	border-bottom: 1px solid #333;
	margin-bottom: 30px;
	padding-bottom: 30px;
	position: relative;
}

.contact_box .map {
	width: 590px;
	height: 200px;
	float: left;
	margin-right: 40px;
}

.contact_box .map small {
	display: none;
}

.contact_box .address {
	float: left;
	width: 330px;
	padding-top: 20px;
}

.contact_box .address h4,
.contact_box .career h3 {
	margin-bottom: 20px;
	text-decoration: none;
	color: #333;
	font: normal bold 22px/130% gothic;
	text-transform: uppercase;
}

.contact_box .address p,
.contact_box .career h6,
.contact_box .career p,
.contact_box  .upload span {
	color: #333;
	text-decoration: none;
	font-style: normal;
	line-height: 145%;
	font-size: 14px;
	font-variant: normal;
}

.contact_box .career {
	float: left;
	width: 510px;
}

.contact_box .career h6 {
	font-size: 12px;
	margin-bottom: 10px;
}

.contact_box .career h3 {
	font-size: 20px;
	margin-bottom: 10px;
}

.contact_box .career p {
	font-size: 12px;
	line-height: 120%;
}

.contact_box .file,
#page_title #candidatura_spontanea .file {
    width: auto;
    height: 20px;
    overflow: hidden;
	background-color: #fff;
	border: 1px solid #333;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 3px;
	color: #333;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	max-width: 200px;

	position: absolute;
	right: 0;
	bottom: 30px;
	text-decoration: none;
	font-style: normal;
	line-height: 145%;
	font-size: 12px;
	font-variant: normal;
}

.contact_box .file:hover,
#page_title #candidatura_spontanea .file:hover {
	cursor: pointer;
	color: #d60d17;
	border: 1px solid #d60d17;
}

#page_title #candidatura_spontanea .file {
	bottom: 0;
}

/* -------- FOOTER ------- */

footer {
	background-color: #333333;
	padding-top: 40px;
	padding-bottom: 100px;
	overflow: hidden;
	margin-top: 60px;
	font-style: normal;
	line-height: 145%;
	font-weight: bold;
	font-size: 12px;
}

footer ul.credits {
	margin-top: 3px;
}

footer ul.credits li,
footer ul.credits a {
	text-transform: uppercase;
}

footer h3 {
	color: #fff;
	text-decoration: none;
	font: normal normal 24px/100% Arial;
	text-indent: -900em;
	width: 104px;
	height: 66px;
	background: url(/common/img/logo_footer.jpg) no-repeat 0 0;
	display: block;
	margin-bottom: 70px;
}

footer h5 {
	color: #fff;
	text-decoration: none;
	margin-right: 150px;
	margin-bottom: 20px;
	font-style: normal;
	line-height: 100%;
	font-size: 13px;
	font-variant: normal;
}

footer ul li {
	float: left;
	list-style-type: none;
	margin-right: 10px;
}

footer ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font: normal normal 13px/100% Arial;
}

footer ul li,
footer ul li a strong {
	color: #fff;
	text-decoration: none;
	font: normal normal 13px/100% Arial;
}

footer ul li a:hover {
	text-decoration: underline;
}

footer h5#fm_retail {
	position: absolute;
	width: 95px;
	height: 112px;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
}

footer h5#fm_retail a {
	text-indent: -900em;
	background: url(../img/logo_fm_retail_footer.gif) no-repeat 0 0;
	width: 95px;
	height: 112px;
	display: block;
}

footer #social_box {
	position: absolute;
	top: 136px;
	right: 0;
}

footer #social_box h5 {
	color: #F2F2F2;
	text-decoration: none;
	text-align: right;
	margin: 0 0 10px;
	padding: 0;
	font: normal normal 14px/100% Arial;
}

footer #social_box ul {
	
}

footer #social_box ul li {
	margin: 0 0 0 5px;
	padding: 0;
	float: left;
	display: inline;
}

footer #social_box ul li a {
	width: 27px;
	height: 27px;
	display: block;
	text-indent: -900em;
	background: #666 url(/common/img/social_footer_icons.gif) no-repeat 0 0;
}

footer #social_box ul li a:hover {
	background-position: 0 bottom;
}

footer #social_box ul li a#twitter {
	background-position: 0 0;
}

footer #social_box ul li a#facebook {
	background-position: -31px 0;
}

footer #social_box ul li a#youtube {
	background-position: -63px 0;
}

footer #social_box ul li a#linkedin {
	background-position: -95px 0;
}

footer #social_box ul li a#twitter:hover {
	background-position: 0 bottom;
}

footer #social_box ul li a#facebook:hover {
	background-position: -31px bottom;
}

footer #social_box ul li a#youtube:hover {
	background-position: -63px bottom;
}

footer #social_box ul li a#linkedin:hover {
	background-position: -95px bottom;
}

/* -------- VARIANTI ------- */

#gm_content,
#gm_content a.gmaplink {
	color: #000;
	text-decoration: none;
	font: normal normal 11px Arial;
	text-transform: uppercase;
}

#gm_content a.gmaplink {
	text-decoration: underline;
}

#gm_content a.gmaplink:hover {
	color: #db0a0a;
}

@media print {
* { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }    .ir a:after { content: ""; }  /* Don't show links for images */    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }    img { page-break-inside: avoid; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


/* -------- EXTRA ------- */

/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
	display: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	width: 320px;
	z-index:8;
	overflow: hidden;
	display: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	height: 140px;
	padding: 0;
	top: 20px;
	right: 20px;
}
.nivo-caption a {
	display: block;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	width: 280px;
	height: 100px;
	position: absolute;
	top: 0;
	background-color: rgba(255,255,255,0.9);
	padding: 20px;
	right: 0;
}

.ie7 .nivo-caption a,
.ie8 .nivo-caption a {
	background-color: #fff;
}

.nivo-caption a p {
	color: #333333;
	font-size: 15px;
	line-height: 100%;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	margin-bottom: 5px;
}

.nivo-caption a h3 {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 10px;
	font: normal bold 18px/120% gothic;
}

.nivo-caption a:hover {
	color: #db0a0a;
}

.nivo-caption a:hover h3,
.nivo-caption a:hover p {
	color: #db0a0a;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */

.nivo-directionNav {
	width: 35px;
	height: 15px;
	position: absolute;
	right: 30px;
	top: 308px;
	z-index: 30;
}
.nivo-directionNav a {
	position:absolute;
	z-index:9;
	cursor:pointer;
	top: 0;
}
.nivo-prevNav {
	left:0px;
	background-repeat: no-repeat;
}
.nivo-nextNav {
	right:0px;
	background: none no-repeat;
}

.nivo-prevNav,
.nivo-nextNav {
	text-indent: -900em;
	display: block;
	width: 15px;
	height: 15px;
}

.nivo-prevNav:hover,
.nivo-nextNav:hover {
	cursor: pointer;
	background-position: 0 bottom;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(/common/img/fancybox_sprite.png);
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('/common/img/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('/common/img/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('/common/img/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('/common/img/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('/common/img/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
