<section id="page_title">
  <h2><?php echo $this->translate("My Profile")?></h2>
  <div class="clearer"></div>
</section>
<section class="widget large">
    <div class="widget_container">
        <h5 class="title"><?php echo $this->translate("Modify My Profile")?></h5>
        <div class="block left">
        	<?php echo $this->render("users/parts/myprofile.phtml")?>
        </div><!--block left-->
        <div class="clearer"></div>

    </div><!--widget_container-->
</section><!--widget-->