<section class="widget medium">
    <div class="widget_container">
        <h5 class="title"><?php echo $this->title ?></h5>
        <div class="block left" id="<?php echo $this->id ?>">
        </div><!--block -->
        <div class="clearer"></div>

    </div><!--widget_container-->
</section><!--widget-->

    