<section id="page_title">
    <h2>Gallery</h2>
    <div class="clearer"></div>
</section><!--page_title-->


<section class="widget">
  <section class="widget_header">
    	<h4>Uploaded Files</h4>
    <div class="clearer"></div>
  </section>
  <!--widget_header-->
 

  <section class="widget_body">
    	<fieldset> 
    	 <section class="gallery">
            <?php
				if ($this->entries):
					$this->partialLoop ()->setObjectKey ( "entry" );
					echo $this->partialLoop ( 'media/image.phtml', $this->entries );
				else:
					echo $this->render ( "empty_list.phtml" );
				endif;
			?>
	        <div class="clearer"></div>
			</section>
            <?php echo $this->render("pagination.phtml") ?>
        </fieldset>
     </section><!--widget_body-->
     <section class="widget_footer">
     	<input type="button" class="btn btn-success" value="Add Images" onclick="window.main_page.subPage().uploadItems(this)" />
     </section>
</section>
