<section id="page_title">
	<h2>Documents</h2>
	<div class="clearer"></div>
</section>
<!--page_title-->


<section class="widget">
	<section class="widget_header">
		<h4>Uploaded Files</h4>
		<div class="clearer"></div>
	</section>
	<!--widget_header-->

	<section class="widget_body">
		<fieldset>
			<section class="gallery">
            <?php
				if ($this->entries):
					$this->partialLoop ()->setObjectKey ( "entry" );
					echo $this->partialLoop ( 'media/doc.phtml', $this->entries );
				else:
					echo $this->render ( "empty_list.phtml" );
				endif;
			?>
	        <div class="clearer"></div>
			</section>
			<!--gallery-->
		</fieldset>
	</section>
	<!--widget_body-->
	<section class="widget_footer">
		<input type="button" class="btn btn-success" value="Upload"
			onclick="window.main_page.subPage().uploadItems(this)" />
	</section>
</section>
