<div class="picture file">
	<h5><?php echo $this->entry->getUploadName() ?></h5>
	<h6><?php echo $this->entry->getFileSize() ?></h6>
	<ul class="actions">
		<li><a href="#"><span class="icon_font">&#xf014;</span></a></li>
		<li><a href="<?php echo $this->entry->getAssetUrl() ?>" target="_blank"><span class="icon_font">&#xf019;</span></a></li>
	</ul>
</div>
<!--picture-->
