
<div class="picture">
	<a href="<?php echo $this->entry->getAssetUrl() ?>" class="fancybox.image preview"><img src="/assets/res.php?src=<?php echo $this->entry->getAssetUrl() ?>&w=120&h=80&zc=2" class="img"></a>
	<h5><?php echo $this->entry->getUploadName() ?></h5>
	<h6><?php echo $this->entry->getFileSize() ?></h6>
	<ul class="actions">
		<li><a class="delete_icon" href=""><span class="icon_font">&#xf014;</span></a></li>
	</ul>
</div>
