<header>
    <section id="logged_user">
        <h5><?php echo $this->user->name ?></h5>
        <h6>Administrator</h6>
        <a id="logout_btn" class="icon_font" href="/app/adminpanel/logout" title="<?php echo $this->translate("Logout") ?>">&#xf011;</a>
    </section><!--logged_user-->
</header>