<nav id="main_menu">
	<h1>
		<span class="icon_font">&#xf12e;</span>Mosaic cms
	</h1>

	<ul><!--  
		<li>
			<a class="ajax" href="/app/dashboard/index"><span class="icon_font">&#xf0e4;</span>
				<span class="label">Dashboard</span>
			</a>
		</li>
		-->
		<li>
			<a href="#">
				<span class="icon_font">&#xf0ae;</span>
				<span class="label">Contenuti</span><span class="icon_font arrow">&#xf104;</span>
			</a>
			<ul>
				<li><a class="ajax" href="/pages/page/list/type/disciplines-cat">Famiglia Discipline</a></li>
				<li><a class="ajax" href="/pages/page/list/type/disciplines-group">Raggruppamento Discipline</a></li>
				<li><a class="ajax" href="/pages/page/list/type/disciplines">Discipline</a></li>
				<!-- <li><a class="ajax" href="/pages/page/list/type/sectors">Settori</a></li>  -->
				<li><a class="ajax" href="/pages/page/list/type/projects">Progetti</a></li>
				<li><a class="ajax" href="/pages/page/list/type/peoples">Persone</a></li>
				<li><a class="ajax" href="/pages/page/list/type/news">News</a></li>	
				<li><a class="ajax" href="/pages/page/list/type/countries">Nazioni</a></li>	
				<li><a class="ajax" href="/pages/page/list/type/regions">Aree Geografiche</a></li>
				<li><a class="ajax" href="/pages/page/list/type/company">Company</a></li>
				<li><a class="ajax" href="/pages/page/list/type/contacts">Contacts</a></li>
                <li><a class="ajax" href="/pages/page/list/type/jobs">Jobs</a></li>
			</ul>
		</li>
		<li>
			<a href="#">
				<span class="icon_font">&#xf085;</span>
				<span class="label">Pagine Componibili</span><span class="icon_font arrow">&#xf104;</span>
			</a>
			<ul>
				<li><a class="ajax" href="/pages/page/list/type/homepage">Homepage</a></li>
				<li><a class="ajax" href="/pages/page/list/type/people">People</a></li>
			</ul>
		</li>

		<li>
			<a href="#">
				<span class="icon_font">&#xf022;</span>
				<span class="label">Pagine Statiche</span><span class="icon_font arrow">&#xf104;</span>
			</a>
			<ul>
				<li><a class="ajax" href="/pages/page/list/type/terms_conditions">Terms and Conditions</a></li>
				<li><a class="ajax" href="/pages/page/list/type/privacy">Legal and Corporate Info</a></li>
			</ul>
		</li>
		<li>
			<a class="ajax" href="/app/media/appgallery"><span class="icon_font">&#xf030;</span>
				<span class="label">Gallery</span>
			</a>
		</li> 
		<li>
			<a class="ajax" href="/app/media/applibrary"><span class="icon_font">&#xf02d;</span>
				<span class="label">Library</span>
			</a>
		</li>
		<li>
			<a class="ajax" href="/app/users/dashlist"><span class="icon_font">&#xf007;</span>
				<span class="label">Utenti</span>
			</a>
		</li>
		
		<li>
			<a class="ajax" href="/app/i18n/index"><span class="icon_font">&#xf0ac;</span>
				<span class="label">I18n</span>
			</a>
		</li>
	</ul>
</nav>