
<section class="widget">
  <section class="widget_header">
      <h4><?php echo $this->translate("Edit User") ?></h4>
      <div class="clearer"></div>
  </section><!--widget_header-->
  
  <section class="widget_body">
		<form action="<?php echo $this->form->getAction() ?>" method="<?php echo $this->form->getMethod() ?>" id="<?php echo $this->form->getAttrib("id") ?>" class="<?php echo $this->form->getAttrib("class") ?>">
			<fieldset>
				<?php echo $this->form->name ?>
				
				<?php echo $this->form->username ?>
				<div class="clearer"></div>
				<?php echo $this->form->password ?>
				
				<?php echo $this->form->checkpassword ?>
				<div class="clearer"></div>
				
				<?php echo $this->form->email ?>
				
				<?php echo $this->form->role ?>
				<div class="clearer"></div>
				
				<?php echo $this->form->shipowner_id ?>
				
				<?php echo $this->form->ship_id ?>
				
				
				<?php echo $this->form->id ?>
				<div class="clearer"></div>
		        <div class="formBlock">
		        	<input type="submit" value="<?php echo $this->translate("Aggiorna") ?>" class="btn btn-success" />
		        </div>
		        <div class="clearer"></div>
	        </fieldset>
	    </form>
	</section>
</section>
    