<?php if($this->entries): ?>
	<table class="table" border="0" cellpadding="0" cellspacing="1">
	    <thead>
	        <tr>
	            <th width="20px"><a class="sort" href=""><?php echo $this->translate("Nome Utente") ?></a></th>
	            <th><a class="sort" href=""><?php echo $this->translate("Username") ?></a></th>
	            <th><a class="sort" href=""><?php echo $this->translate("Email") ?></a></th>
	            <th><a class="sort" href=""><?php echo $this->translate("Ruolo") ?></a></th>
	            <th colspan="2"><?php echo $this->translate("Azioni") ?></th>
	        </tr>
	    </thead>
	    <tbody>
	       
	        <?php
	        $this->partialLoop()->setObjectKey("entry");
	        echo $this->partialLoop('/users/parts/row.phtml', $this->entries);
	        ?>
	        
	    </tbody>
	</table>
<?php else: ?>
<?php echo $this->render('empty_list.phtml')?>
<?php endif; ?>