<section class="widget">
    <section class="widget_header">
        <h4><?php echo $this->translate("Traduci Elemento") ?></h4>
        <div class="clearer"></div>
    </section>
    <!--widget_header-->
    <section class="widget_body">
        <form class="<?php echo $this->form->getAttrib("class") ?>"
              action="<?php echo $this->form->getAction() ?>"
              method="<?php echo $this->form->getMethod() ?>">
            <fieldset>
                <?php echo $this->form->siblings?>
                <?php echo $this->form->key?>
                <?php echo $this->form->value?>

                <?php echo $this->form->id?>
                <?php echo $this->form->context?>
                <?php echo $this->form->lang?>

                <div class="clearer"></div>

                <?php echo $this->form->format?>
                <div class="clearer"></div>

                <input type="submit" class="btn btn-success" value="<?php echo $this->translate("Traduci") ?>" >
            </fieldset>
        </form>
    </section>

</section>