<table class="table" border="0" cellpadding="0" cellspacing="1">
    <thead>
    <tr>
        <th><a class="sort" href="#"><?php echo $this->translate("Code key") ?></a></th>
        <th><a class="sort" href=""><?php echo $this->translate("Value") ?></a></th>
        <th><a class="sort" href=""><?php echo $this->translate("Used in") ?></a></th>

    </tr>
    </thead>
    <tbody>
    <?php
    $this->partialLoop()->setObjectKey("entry");
    echo $this->partialLoop('i18n/parts/row.phtml', $this->items);
    ?>
    </tbody>
</table>