<form action="<?php echo $this->adduser->getAction() ?>" method="<?php echo $this->adduser->getMethod() ?>" id="<?php echo $this->adduser->getAttrib("id") ?>" class="<?php echo $this->adduser->getAttrib("class") ?>">
		<fieldset>
			<?php echo $this->adduser->name ?>
			
			<?php echo $this->adduser->username ?>
			<div class="clearer"></div>
			<?php echo $this->adduser->password ?>
			
			<?php echo $this->adduser->checkpassword ?>
			<div class="clearer"></div>
			
			<?php echo $this->adduser->email ?>
			
			<?php echo $this->adduser->role ?>
			<div class="clearer"></div>
			
			<?php echo $this->adduser->shipowner_id ?>
			
			<?php echo $this->adduser->ship_id ?>
			
			
			<?php echo $this->adduser->id ?>
		<div class="clearer"></div>
        <div class="formBlock">
        	<input type="submit" value="<?php echo $this->translate("Inserisci") ?>" class="btn btn-success ajax" />
        </div>
        <div class="clearer"></div>
        </fieldset>
</form>
    