<form action="<?php echo $this->myprofile->getAction() ?>" method="<?php echo $this->myprofile->getMethod() ?>" id="<?php echo $this->myprofile->getAttrib("id") ?>" class="<?php echo $this->myprofile->getAttrib("class")?>">
		<fieldset>
		<?php echo $this->myprofile->name ?>
		
		<?php echo $this->myprofile->username ?>
		
		<?php echo $this->myprofile->oldpassword ?>
		<div class="clearer"></div>
		
		<?php echo $this->myprofile->password ?>
		
		<?php echo $this->myprofile->checkpassword ?>
		<div class="clearer"></div>
		
		<?php echo $this->myprofile->email ?>
		<?php echo $this->myprofile->id ?>
		<div class="clearer"></div>
        <div class="formBlock">
        	<input type="submit" value="<?php echo $this->translate("Aggiorna") ?>" class="btn btn-success ajax" />
        </div>
        <div class="clearer"></div>
        </fieldset>
</form>
    