
		<tr <?php echo ($this->partialCounter%2) ? "class='pari'" : ""; ?>>
		    <td><?php echo $this->entry->name ?></td>
		    <td><?php echo $this->entry->username ?></td>
		    <td><?php echo $this->entry->email ?></td>
		    <td><?php echo $this->entry->role->role ?></td>
		    <td width="14">
		    <a title="Modifica utente" class="zoom fancybox.iframe" href="/app/users/edit/id/<?php echo $this->entry->id ?>">
		    	<span class="icon_font">&#xf040;</span>
		    	</a>
		    </td>
		    <?php $js_delete = sprintf(' onclick="user.remove(%d); return false;"', $this->entry->id); ?>
		    <td width="14">
		    	<a title="Elimina utente" href="#" <?php echo $js_delete ?>>
		    		<span class="icon_font"><span class="icon_font">&#xf014;</span>
		    	</a>
		    </td>
		</tr>