<header>

    <h1><a href=""><span class="icon_font">+</span><strong>Ship</strong>Gest</a></h1>

    <div id="right">
        <h4>Cantieri Faldis<small>Martedì 19 Marzo 2013</small></h4>
        <h5><a href="">Logout</a></h5>
    </div><!--right-->
</header>