<?php echo $this->doctype() . PHP_EOL; ?>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]><body class="ie7"><![endif]-->
<!--[if IE 8 ]><body class="ie8"><![endif]-->
<!--[if IE 9 ]><body class="ie9"><![endif<]-->
<!--[if (gt IE 9)|!(IE)]><!--><!--<![endif]-->
<html>
    <head>
        <?php echo $this->headMeta() . PHP_EOL; ?>
        <?php echo $this->headTitle() . PHP_EOL; ?>
        <?php echo $this->headLink() . PHP_EOL; ?>
        <!--[if lt IE 9]>
            <script src="/admin/js/html5.js"></script>
        <![endif]-->
        
        <!-- other scripts -->
        <?php echo $this->headScript() . PHP_EOL; ?>
        <!-- other scripts -->
        
    </head>
    <body lang="it" id="login">

        <div id="container">

            <div id="login_pane">
                <?php echo $this->layout()->content ?>
            </div><!--login_pane-->

        </div><!--container-->


        <div id="infocontent">
            <h3><a href="http://www.web-italy.it/">Articoli e risorse di web design</a></h3>
        </div><!--infocontent-->

    </body>

</html>