<nav id="main_menu">
    <ul>
        <li><a class="ajax" href="/dash"><span class="icon_font">*</span>Dashboard</a></li>
        <li><a class="ajax" href="/certificates/certificate/list"><span class="icon_font">)</span>Certificati</a></li>
        <li><a class="ajax" href=""><span class="icon_font">(</span>Manutenzioni</a></li>
        <li><a class="ajax" href=""><span class="icon_font">'</span>Ispezioni</a></li>
        <li><a class="ajax" href=""><span class="icon_font">&amp;</span>Esercitazioni</a></li>
        <li><a class="ajax" href=""><span class="icon_font">%</span>Modulistica</a></li>
        <li><a class="ajax" href=""><span class="icon_font">$</span>Forniture</a></li>
    </ul>
</nav>

	
