<section id="sub_header">
    <div class="container">

        <div id="azioni_navi">
            <ul>
                <li><a class="add_btn zoom fancybox.ajax" href="form_popup.html"><span class="icon_font">,</span><?php echo $this->translate("Aggiungi armatore") ?></a></li>
                <li><a class="add_btn zoom fancybox.ajax" href="form_popup.html"><span class="icon_font">,</span><?php echo $this->translate("Crea nuova nave") ?></a></li>
            </ul>
        </div><!--azioni_navi-->

        <form id="scelta_navi">
            <div class="formBlock">
                <label><?php echo $this->translate("Scelta armatore") ?>:</label>
               <?php //echo $this->contextForm->shipOwner; ?>
            </div><!--formBlock-->

            <div class="formBlock">
                <label><?php echo $this->translate("Scelta nave") ?>:</label>
               <?php // echo $this->contextForm->vessel; ?>
            </div><!--formBlock-->

            <div class="formBlock">
                <input type="submit" class="submit_btn" value="<?php echo $this->translate("Aggiorna") ?>">
            </div><!--formBlock-->
        </form>            
    </div><!--container-->
    <a id="toggle_control" href="" id=""><?php echo $this->translate("Menu armatore / Nave") ?></a>
</section><!--sub_header-->