<section class="widget">
	<section class="widget_header">
		<h4><?php echo $this->boxTitle ?></h4>

		<ul class="widget_tools">
			<li><a href="" class="widget_collapse"><span class="icon_font">&#xf107;</span></a></li>
		</ul>

		<div class="clearer"></div>
	</section>
	<!--widget_header-->

	<section class="widget_body">
		<?php echo $this->boxContent?>
	</section>
	
</section>
<div class="clearer"></div>