<div class="content" id="bar">
    <table class="graph type-<?php echo $this->graphType ?>">
        <caption><?php echo $this->graphTitle ?></caption>
        <thead>
            <tr>
                <td></td>
                <?php 
                    foreach($this->metrics as $metric)
                        print '<th scope="col">'.$metric.'</th>';
                ?>
            </tr>
        </thead>
        <tbody>
        <?php 
             foreach($this->values as $label => $vals):
                    print sprintf("<tr>%s<th scope='row'>%s</th>%s", PHP_EOL, $label, PHP_EOL);
                    foreach($vals as $val):
                        print sprintf("<td>%s</td>", $val).PHP_EOL;
                    endforeach;
                endforeach;
                print "</tr>".PHP_EOL;
            ?>
        </tbody> 
    </table>
</div>