<section id="page_title">
  <h2><?php echo $this->translate("Mailbox")?></h2>
  <div class="clearer"></div>
</section>

<section class="widget large ajax" id="list"></section>
<div class="clearer"></div>
