<section class="widget">
  <section class="widget_header">
      <h4><?php echo $this->translate("View Message") ?></h4>
      <div class="clearer"></div>
  </section><!--widget_header-->
  
  <section class="widget_body">
    <form class="form">
     <fieldset>
      		<?php echo $this->form->to ?>
      		<div class="clearer"></div>

            <?php echo $this->form->cc ?>
            <div class="clearer"></div>
            
            <?php echo $this->form->bcc ?>
            <div class="clearer"></div>
            
            <?php echo $this->form->subject ?>
            <div class="clearer"></div>
            
            <?php echo $this->form->body ?>
            
            <div class="clearer"></div> 
            <ul>
	            <?php if($this->message->tsCreate): ?> 
	            	<li><strong><?php echo $this->translate("Creation DateTime:")?></strong><?php echo $this->date("%A %d %B %Y %T", $this->message->tsCreate)?></li>
	            <?php endif; ?>
	            <?php if($this->message->tsSent): ?> 
	            	<li><strong><?php echo $this->translate("Sent DateTime:")?></strong><?php echo $this->date("%A %d %B %Y %T", $this->message->tsSent)?></li>
	            <?php endif; ?>
	            <?php if($this->message->tsReceived): ?> 
	            	<li><strong><?php echo $this->translate("Receiving DateTime:")?></strong><?php echo $this->date("%A %d %B %Y %T", $this->message->tsReceived)?></li>
	            <?php endif; ?>
            </ul>
     </fieldset>
    </form>
</section>
</section>