<script type="text/javascript" src="/admin/js/app/mailbox.js"></script>
<section id="page_title">
    <h2><?php echo $this->main_title ?></h2>
    <div class="clearer"></div>
</section><!--page_title-->

<section id="tabs">
 	<ul>
 		<?php 
 		foreach($this->tabs as $tab)
 			echo sprintf('<li><a href="%s">%s</a></li>', $tab['href'] , $tab['label']);
			    	
	   ?>
	</ul>
</section>
	   