<div class='error_msg'>
    <h4><?php echo $this->message ?> / <br /> </h4>
    <?php if ($this->exception): ?>
    	<p><?php echo $this->exception->getMessage() ?></p>
        <p>
            <?php echo nl2br($this->exception->getTraceAsString()) ?>
        </p>
        <p> 
            <strong>Details :</strong> <?php echo $this->escape(var_export($this->request->getParams(), true)) ?></p>
<?php endif ?>
</div>
