<div class='error_msg'>
    <h4><?php echo $this->message ?> / <br /> </h4>
    
        <p> <strong>Details :</strong> <?php echo $this->escape(var_export($this->request->getParams(), true)) ?></p>
</div>
<br />
