<?php if($this->langs): ?>
	<?php foreach($this->langs as $code => $value): ?>
		<?php if(!empty($value)): ?>
			<li><a href="/pages/page/edit/id/<?php echo $value ?>" class="ajax <?php echo $code ?> active" title="<?php echo $code ?>"><?php echo $code ?></a></li>
		<?php else: ?>
			<li><a href="/pages/page/translate/id/<?php echo $this->id ?>/lang/<?php echo $code ?>" class="ajax <?php echo $code ?>" title="<?php echo $code ?>"><?php echo $code ?></a></li>
		<?php endif; ?>
	<?php endforeach; ?>
<?php endif;?>
