<table class="table" border="0" cellpadding="0" cellspacing="1">
    <thead>
        <tr>
            <th><a class="sort" href="#"><?php echo $this->translate("Label") ?></a></th>
            <th><a class="sort" href=""><?php echo $this->translate("Creation Date") ?></a></th>
            <th width="100">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?php
        	$this->partialLoop()->setObjectKey("entry");

        	echo $this->partialLoop('page/users/administrator/parts/row.phtml', $this->dto->contents);
        ?>
    </tbody>
</table>