<?php $entry = $this->item; ?>
<?php $statusH = $this->pageStatus($entry->status) ?>
<tr <?php echo ($this->partialCounter%2) ? "class='pari'" : ""; ?>>
	<td><a <?php echo $statusH->linkClass() ?>
		href="/pages/page/edit/id/<?php echo $entry->id ?>">
	    	<?php echo $statusH->icon() ?>
	    	<?php echo $entry->label ?>
	    </a></td>
	<td><?php echo $this->date("%d %B %Y", $entry->tsCreation) ?></td>
	<td>
		<ul class="language_flag">
		<?php
        	echo $this->partialLoop('page/users/administrator/parts/languages.phtml', array(array("langs" => $this->langs, "id" => $entry->id)));
        ?>		
		</ul>
	</td>
</tr>