<tr <?php echo ($this->partialCounter%2) ? "class='pari'" : ""; ?>>
	<td><?php echo $this->MessageStatusIcon($this->entry->status) ?></td>
    <td><?php echo $this->entry->subject ?></td>
    <td><?php echo $this->nicesubstring($this->entry->body, 150) ?></td>
   
    <td>
    <?php 
    	$recipients = array();
    	foreach($this->entry->recipients as $rcpt):
    		if($rcpt->sendas == App_Model_Message_Recipient::SEND_AS_TO)
    		{
    			$name = trim($rcpt->name);
    			if(!empty($name))
    				$recipients[] = sprintf('<a href="mailto:%s">%s</a>', $rcpt->address, $name);
    			else 
    				$recipients[] = sprintf('<a href="mailto:%s">%s</a>', $rcpt->address, $rcpt->address);
    		}
    	endforeach;
    	echo implode(",",$recipients);
    ?>
    </td>
    <td><?php echo $this->date("%a %d %b %Y %T", $this->entry->getTscreate()) ?></td>
    <td width="14">
    	<span class="icon_font">
    		<a title="<?php echo $this->translate("Modify Message") ?>" class="zoom fancybox.iframe" href="/app/mailbox/display/id/<?php echo $this->entry->id ?>">=</a>
    	</span>
    </td>
    <td width="14">
    	<span class="icon_font">
    	<?php $js_delete = sprintf('onclick=transIncoming.dropMessage("%d");', $this->entry->id); ?>
    		<a title="<?php echo $this->translate("Delete Email") ?>" href="#" <?php echo $js_delete ?>>4</a> 
    	</span>
    </td>
</tr>