
<script type="text/javascript" src="/admin/js/app/user.js"></script>
<script type="text/javascript">
//<!--
$(document).ready(function() {
    $("#adduser_form").ajaxForm({success: user.prototype.addfromDash });
    $("#myprofile_form").ajaxForm({success: user.prototype.updatemyprofile });
});
//-->

</script>


<section id="page_title">
  <h2><?php echo $this->translate("Users Management")?></h2>
  <div class="clearer"></div>
</section>
	<section class="widget">
	    <section class="widget_header">
	    	<h4><?php echo $this->translate("Modify My Profile")?></h4>
	    		<ul class="widget_tools">
	    			<li><a href="" class="widget_collapse"><span class="icon_font">&#xf107;</span></a></li>
	    		</ul>
	
			<div class="clearer"></div>
		</section>
		<!--widget_header-->
	
		<section class="widget_body">
	        <?php echo $this->render("users/parts/myprofile.phtml")?>
	    </section>
	</section>
<div class="clearer"></div>


<section class="widget">
	    <section class="widget_header">
	    	<h4><?php echo $this->translate("Create New User")?></h4>
	    		<ul class="widget_tools">
	    			<li><a href="" class="widget_collapse"><span class="icon_font">&#xf107;</span></a></li>
	    		</ul>
	
			<div class="clearer"></div>
		</section>
		<!--widget_header-->
	
		<section class="widget_body">
	       <?php echo $this->render("users/parts/editform.phtml")?>
	    </section>
	</section>
<div id="userslist">
<?php echo $this->render("users/list.phtml"); ?>
</div>

