<?php $entry = $this->entry; ?>

<tr <?php echo ($this->partialCounter%2) ? "class='pari'" : ""; ?>>
    <td><a href="#" onclick="window.main_page.getTranslationController(<?php echo $entry->id ?>).translate()">
            <?php echo $entry->key ?>

        </a></td>
    <td id="value_<?php echo $entry->id ?>"><?php echo $entry->value ?></td>
    <td><?php echo $entry->context ?></td>
</tr>